[2017-10-07 21:30] Ptival opened #235 "Adding commands to C-c C-c for LaTeX"
Hey, this might not be related to Doom, but I'm not sure which packages are involved in what happens (maybe org? maybe ivy?).

When a .tex file is opened, running C-c C-c raises an appropriate pane with valid options like latex/pdflatex/bibtex. However, there is no xetex/xelatex, and I can't figure out a way to add those there.

I can type the command there, but that pane also has no "history", so

[2017-10-08 00:26] hlissner commented on #235
This is actually an issue with the latex-mode and auctex not having a xetex build command. Perhaps this SO question can help you](https://tex.stackexchange.com/questions/21200/auctex-and-xetex). Something like this should work for you:

[code]

I'm not familiar with xetex, so I can't say if this will work or not.

[2017-10-08 00:52] hlissner commented on #234
The "leader" and "localleader" prefix keys in Doom are bound to the space bar, which means SPC is getting overwritten anywhere a mode map has a leader/localleader binding. In go's case, [there are four](https://github.com/hlissner/doom-emacs/blob/master/modules/lang/go/config.el#L59-L62).

To fix this, I suggest you change `doom-leader-key` and `doom-localleader-key` to something more meaningful t

[2017-10-08 03:34] teesloane opened #236 "Projectile forgets projects on relaunch"
Hello!

Just got into DOOM today and have been having lots of fun learning my way through it. I'm coming from the spacemacs world for context.

One issues I'm stumbling over: it seems like projectile can't remember the projects i've opened after relaunching emacs. This might just be my lack of knowledge on projectile. In spacemacs having opened a project in projectile would then remember the proje

[2017-10-08 03:41] Ptival commented on #235
Oh wow, I am stupid! I had just reset my `init.el` and had not uncommented `latex`, so it was not even using AUCTex!

AUCTeX actually offered me the option to use XeTeX out of the blue with a very intuitive menu! Nevermind me! :s

[2017-10-08 03:41] #235 closed

[2017-10-08 04:58] amosbird commented on #227
Hi @hlissner . I tried removing the whole `elpa` dir and redo `make install; make clean`. It still fails. However, a newly pulled doom-emacs works...

[2017-10-08 11:12] hlissner commented on #236
This is definitely a bug. Turns out projectile's list of known projects isn't being initialized early enough. The projects list refreshes itself once you've opened a file (any file).

In any case, this is now fixed in the `develop` branch.

[2017-10-08 12:54] teesloane commented on #236
Awesome! Thanks for letting me know!

[2017-10-08 13:13] nickecarlopack commented on #234
Setting it in private init.el fixed it!

Thank you!

Appreciate you making your personal config available publicly. Awesome job!

[2017-10-08 16:57] hlissner commented on #234
No problem!

[2017-10-08 16:57] #234 closed

[2017-10-09 19:04] UndeadKernel opened #238 "Behavior of 'delete-window' on REPL windows is not as expected"
When trying to delete a window with "C-x 0" on a REPL popup, all other windows, except for the actual popup window, get deleted.

To reproduce:
1) Open a lisp file (e.g. init.el)
2) Create a second window (C-x 3)
3) Open the REPL for the mode (M-x +eval/open-repl)
4) In the REPL window, try to delete the window with "C-x 0"

[2017-10-09 21:06] UndeadKernel commented on #238
I've identified the origin of the problem. This happens only if "evil" is **not** activated.
You've probably figured out by now that I don't use evil :D.

Anyhow, the problematic function is located in `core/autoload/popups.el`, in the function in line 234. The function reads as follows:
[code]
When pressing `C-x 0` this function is called. Because the REPL window has the property `:noesc`, the fu

[2017-10-10 17:08] vsr625 opened #240 "FileMode Error"
Currently on the develop branch, couldn't figure it out, that's why posting here.
Whenever I open cpp files, in the bottom status area it shows error like "File Mode Specification Error (wrong argument type .. )" , and maybe because of this completion is also not working. Started facing this issue very recently. Sidenote: I barely made any modifications in the private module.

[2017-10-10 20:18] teesloane opened #241 "Understanding how to efficiently setup packages."
After reading through the docs I'm still a bit confused on how to properly load packages. I have noticed an increase in emacs loading time (1s --> 3s) after having added 5 packages.

My private module for doom is version controller [here](https://github.com/teesloane/dotfiles/tree/master/tees)... but I'm mostly wondering - when to use the `package!` and `def-package!` macros.

Currently I'm doing

[2017-10-11 12:10] teesloane commented on #241
@hlissner thank you for such a detailed answer. That definitely clears thing up a lot. I had no idea most of those packages were already in Doom ha!

As for the example for rjsx-mode -- that illuminates much. I'm guessing that if I wanted to, say, have all js files in a folder called `app` I could similarly create a similar `(def-package)` call, borrowing from the build in lang/javascript where I

[2017-10-11 12:10] #241 closed

[2017-10-13 10:22] rotsix opened #242 "Cannot make compile"
Hi !

I can't make compile, here are some logs: https://ptpb.pw/t43N

I ran make autoloads (on wiki, about null functions), and a make doctor is quiet on my arch.

Any idea ? Thanks!

(PS: is there a way, on C-c C-f to start from ~ and not from ~/.emacs.d?)

Regards,
rotsix

[2017-10-13 10:23] rotsix commented on #242
EDIT: same problem as #229

[2017-10-13 10:23] #242 closed

[2017-10-14 12:30] rotsix opened #243 "help: open OCaml REPL (Tuareg) in a full buffer"
Hi!

I've been recently introduced to doom-emacs (lovin it), but, as a student learning ocaml, i'm often using the tuareg repl buffer.

In Doom, this buffer goes into the "bar" with errors, commands and co.

Is there a way to give tuareg a full buffer ? Got same issue with make's returns.

Thanks!
Regards,
rotsix

[2017-10-14 12:31] rotsix commented on #243
EDIT: gotta ask shakle's maintener

[2017-10-14 12:31] #243 closed

[2017-10-14 17:44] orther commented on #185
STATUS UPDATE: Just want to touch base so you know this isn't abandoned. I have recently ran into issues with my current flow setup that causes CPU and Memory usage to go insane. I have disabled flow-minor-mode just to get work done. I plan to track down what is causing this and finally push the flow support.

[2017-10-15 08:44] vsr625 commented on #240
Figured it out, I tried [this](https://stackoverflow.com/a/4181236), and found that I had set line numbers to relative using (setq line-numbers 'relative), I removed that, now it's working fine.
One issue though, previously when you had all the keybindings for different modes set in their specific config.el files, you had keybindings for org mode for cycling the item sequence from TODO -> NEXT and

[2017-10-15 08:54] #240 closed

[2017-10-15 09:16] dougcoates opened #244 "Fatal error 6: Aborted"
When I start doom-emacs I see a blue screen appear temporarily before emacs crashes and I receive the following error

[code]
My installation method was as follows:
 1. clone this repo, copy it to `~/.emacs.d`
 2. copy `init.example.el` to `init.el`, comment out some things
 3. copy `modules/private/hissiner` to `modules/private/my_username`
 4. make install

I am running Arch Linux and everything

[2017-10-16 10:35] rotsix opened #246 "(M-x term)'s colors"
Hi!

As images says more than texts, [here](https://ptpb.pw/pDWU.png) is the issue.

As you can see, the term isn't well colored. It comes from the theme that doesn't set the colors well.
(different background when *texted* or not)

If you want, i can edit it and make a pull request!

Thanks :)

[2017-10-17 23:51] hlissner commented on #246
Good catch. This is actually a [doom-themes](https://github.com/hlissner/emacs-doom-themes) issue, and it should be fixed as of https://github.com/hlissner/emacs-doom-themes/commit/d91f72b83ec22f1620372574582e163f921e6796. Feel free to reopen this if that isn't the case.

[2017-10-17 23:51] #246 closed

[2017-10-18 00:04] hlissner commented on #238
Good catch, this is definitely the problem, but for a popup with a :noesc property, `doom/popup-close-maybe` should simply no-op. There are two problems here:

1. It may not be appropriate that I [remapped `delete-window` in core-popups.el](https://github.com/hlissner/doom-emacs/blob/develop/core/core-popups.el#L140), as `:noesc` should only inhibit ESC, so I'll remove this.

2. You are correct,

[2017-10-18 07:31] amosbird opened #247 "eyebrowse mode indicator isn't shown in mode line"
How can I redefine the doom mode line to include the eyebrowse indicator?

[2017-10-18 15:10] hlissner commented on #247
You would need to define an `eyebrowse` segment and redefine the main modeline:

[code]

(I'm not an eyebrowse user, so that segment may need to be tweaked)

[2017-10-18 18:41] UndeadKernel commented on #238
`keyboard-quit` or simply calling nothing seems to be the appropriate choice.
I'm not aware of any side-effects of just calling `keyboard-quit` in this context.
All looks good.

[2017-10-18 18:41] #238 closed

[2017-10-19 06:39] rotsix commented on #246
That's working, well played, thanks!

[2017-10-20 12:39] dougcoates commented on #244
I have found that changing the default fonts fixes this issue.

Editing `modules/ui/doom/config.el`
and changing the lines
[code]
to
[code]
fixes the problem.

[2017-10-20 20:51] hlissner commented on #244
Thanks for figuring this out! It seems my default fonts have caused a couple users some trouble, so I think I'll remove them from ui/doom and leave it to the user to set. I'll have this up in `develop` soon.

[2017-10-21 00:24] amosbird commented on #247
Thanks! btw, the `matches` segment doesn't show the match number when highlighting words via `#` or `*` before the first invocation of evil search.

[2017-10-21 13:50] Luis-Henriquez-Perez opened #249 "making `map!` not require repeated specification of modes"
I notice that sometimes the `map!` function seems a bit repetitive
And by this I mean that, for example, after using `:n` once we must continue to specify `:n`. I'd be nice if after specifying `:n` once it would be applied until we specified something else.

I'd really like to make it so that something like this.
[code]
Can look like this:
[code]
I suppose a consequence of this would be that gener

[2017-10-21 14:46] Luis-Henriquez-Perez opened #250 "Proposal for a tag-based organizational structure"
I notice that in `modules` folder there's a `completion` category. If I'm
looking to find a snippets module I'd go in there because snippets are arguably
a type of code completion. But there's no 'snippets' dir in there. Instead it's
in a very general `feature` category (but isn't completion also a feature? shouldn't
it also be in the `feature` folder?). Things like this happen to me all the time

[2017-10-24 20:30] arpd opened #251 "Irony doesn't work"
It looks like all of the functions in `modules/lang/cc/autoload.el`, save for `+cc/autoclose->-maybe` are not actually loaded.

I guess this is to do with their invocation only being used as a hook (e.g. for `irony-mode`), and as such are never loaded, but with basically no emacs-lisp experience this is all I've got so far.

To reproduce: grab a fresh copy of either `master` or `develop` branches,

[2017-10-24 20:37] arpd opened #252 "Buffer list view does not work"
Present on `master` and `develop` branches; Fresh install using `init.example.el`

Attempting to open a buffer view (or however it is described) results in:
`Symbol's function definition is void: +ivy-buffer-transformer`

I attempted this using combination `<SPACE> b B`

[2017-10-24 22:05] hlissner commented on #251
This is usually caused by an out-of-date autoloads file. Did you run `make` or `make autoloads` after enabling the lang/cc module?

As a rule of thumb, it's a good idea to run `make` after changing your init.el, which will remove unneeded dependencies, install new ones, and regenerate the autoloads file.

[2017-10-24 22:10] hlissner commented on #252
This _may_ be related to #251. Just in case, could you run `make autoloads` and let me know if the issue persists?

[2017-10-25 00:38] hlissner commented on #249
If you remove `(setq states '())` on [line 288 of core/core-keybinds.el](https://github.com/hlissner/doom-emacs/blob/develop/core/core-keybinds.el#L288), that should do it.

[code]

I had considered this when I first wrote `map!`, but I decided against it because I didn't think the added complexity was worth the benefit:

1. It adds a step to managing keybinds: I must ensure that I haven't affecte

[2017-10-25 03:03] alphapapa opened #253 "Org question: highlighted @ and # strings?"
Hi there,

I see in the main screenshot that, in Org mode, strings that start with `@` and `#` are fontified specially.  I have dug through a lot of code in this repo, but I can't find that feature anywhere.  Would you please point me to the right place?  :)  Thanks.

[2017-10-25 16:49] Luis-Henriquez-Perez commented on #249
Seeing your reasoning, I think you're right. I think another good reason for keeping `map!` as is is readability. With a lot of bindings it might be hard to figure out what state that binding was bound in as you'd have to scroll all the way up to the first binding set in that state.

 I will keep the `map!` function in my config as is. Though I will look into other ideas on how to reduce the redun

[2017-10-25 16:49] #249 closed

[2017-10-25 18:24] arpd commented on #252
This is exactly correct! I'll close these two issues. Thanks @hlissner !

[2017-10-25 18:24] #252 closed

[2017-10-25 18:25] arpd commented on #251
Closing this; as suggested I wasn't rebuilding autoloads!
I was instead running `make update compile`.

[2017-10-25 18:25] #251 closed

[2017-10-25 18:58] alphapapa commented on #253
Thanks!

[2017-10-25 18:58] #253 closed

[2017-10-26 09:36] amosbird commented on #247
This is fixed by https://github.com/hlissner/doom-emacs/pull/255

[2017-10-26 09:36] #247 closed

[2017-10-27 11:33] ghost opened #257 "Idea for webpage capture/bookmark"
I've been experimenting with org-capture together with Firefox bookmarks lately. By using a Firefox [addon](https://addons.mozilla.org/en-US/firefox/addon/org-capture/?src=ss) and org-protocol, links can easily be send to Emacs. In Emacs, org-capture is opened and I can save the links to a file called "links.org" in my org directory. I've configured Emacs in such a way that "links.org" will automa

[2017-10-29 03:54] mjayuk opened #258 "Package-install fails"
A recent convert from spacemacs (and therefore a relative newbie to DOOM) - I have one or perhaps two separate problems:

Firstly, when I try and use swiper (I use helm) I receive the following error:

_Wrong type argument: commandp, swiper_

Thinking that I could try and install/reinstall swiper for helm (I couldn't find and swiper.el files in my .emacs.d folder) I tried to install the swiper-hel

[2017-10-30 00:26] a-schaefers opened #259 ""Tailored for Arch and OSX?""
Hi,

On the readme it states,

I have skimmed the rest of the readme and main sections of the Wiki and am unable to see exactly how it has been tailored for Arch and OSX. In what ways has it been tailored for Arch and OSX that do not apply to other Linux distros or operating sytems like the BSD family?

As a FreeBSD and Spacemacs user, I was interested in also trying out your doom configuration, b

[2017-10-30 13:56] Dragnucs commented on #259
The assertion in question can be viewed as "Tested on macOs and Arch Linux". This does not mean it will not work on other platforms or it is strictly tied to them. The config can also work on windows and Unix based or UNIX like OSs.

[2017-10-30 13:59] hlissner commented on #259
It's mostly a disclaimer. There is no particular reason that it wouldn't work on any distro, or even Windows. It's simply that I only use Arch and MacOS, and can't reliably test on any other system. Although, you'll find documentation for modules only include instructions for Arch Linux and MacOS (if any).

If it helps, you can do an isolated test-run of Doom with, say:

[code]

[2017-10-30 14:13] hlissner commented on #258
This may indicate an outdated autoloads file. Try `make autoloads` and see if that resolves this issue. I recommend running `make` any time you edit `init.el` (it is equivalent to `make autoremove install autoloads`, which will auto-remove unneeded plugins, install missing ones, and regenerate the autoloads file).

Curious. I assume you ran `make install` before you ran Doom the first time and it

[2017-10-30 23:25] a-schaefers commented on #259
Thank you. May I suggest a slight clarity edit on this wording. Only because I suspect there are others like me from the vim world who are also new to emacs and may have a similar question, or may even turn the other way when it may be taken as "Arch and OSX only" =)

Cheers

[2017-10-31 13:40] hlissner commented on #259
No problem, and will do!

[2017-10-31 13:40] #259 closed

[2017-11-01 12:57] 9b17fe opened #260 "magit-branch-popup throws `(wrong-type-argument listp closure)`"
Hi, first let me thank you for the awesome config, the effort you put into it is quite impressive and I really like using it.

I think this is due to updating to magit-20171031.1141, it fails with stacktrace pasted below.
I have no idea how to read this unfortunately.
[code]

[2017-11-01 14:12] 9b17fe commented on #260
I'm sorry,
it was caused by some bytecompiled packages in `.local/packages` which were compiled by Emacs 26, while I was in Emacs 25.

[2017-11-01 14:12] #260 closed

[2017-11-01 19:55] mjayuk commented on #258
Hi

Many thanks for your response and help.

I had come back top the site today to report that:

1. I switched Helm to Ivy and this stopped the commandp errors, swiper seemed to be working again.  Changing back to Helm caused commandp error to reappear.  For information, each time after changing the init.el file I had run make install.  I did notice when I changed from Ivy to Helm that swiper was

[2017-11-01 20:01] mjayuk commented on #258
Err... for Sublime please read Spacemacs,  Sorry about that, I had sublime open in the background and must have subconsciously thought of that instead.

[2017-11-05 23:57] hlissner commented on #222
A solution for this is now in `develop`. It needs a little more testing, but should make its way into master within the next couple of days.

[2017-11-06 23:59] hlissner commented on #250
I apologize for the late reply, other duties have kept me away. I will respond to your email here as well:

The greatest benefit is organization. The single-file approach gets unwieldy as files grow, and is outright impossible if you'd like to lazy load functions or separate package declaration from configuration (as I needed to do with Doom). Doom gets a good chunk of its performances gains by do

[2017-11-07 00:04] hlissner commented on #257
I like the idea. I'll look into this more, closer to the new years. I have big plans for the `org` modules I need to finish before adding to its features.

[2017-11-07 00:54] gilbertw1 commented on #250
It's funny with the timing of this response, but I've just spent the last few days reimplementing my DOOM based config in literate programming style. Primarily started it because I've always been impressed by literate configs others have written and partially to understand the intialialization process and the various configuration values better.

Editing the literate configuration works out to be

[2017-11-07 07:31] amosbird opened #261 "Popup manager in its own repo"
Hi, is there a plan to do this modularization? This popup stuff brings many headaches to me and I'd like to disable it all :)

[2017-11-07 10:52] hlissner commented on #261
It is planned for 2.0.8, but should be in `develop` sooner. I'll post here when it is.

[2017-11-07 13:38] allforabit opened #262 "Workspace tab numbers"
I find it a little confusing having the tab numbers numbered from 0 when the keyboard shortcuts start at 1. I overrode the function in my config as follows and is doing the trick for me :

[code]

So I've just added `(+ i 1)` on the format line.

[2017-11-07 13:48] hlissner commented on #262
I agree. I've pushed this fix into develop. Should be in master within the next day or two.

[2017-11-07 21:00] gilbertw1 opened #263 "Better popup toggling"
Hey!

I've been in the process of rethinking popups and I feel like I've hit a really good workflow with toggling them. One of the issues I had previously is that it became a bit tough to quickly toggle specific popups in the face of multiple popups being available at once.

The solution I landed upon was a general popup toggling function `show-hide-popup-buffer` that:

1. Takes a two optional par

[2017-11-08 15:05] Luis-Henriquez-Perez commented on #250
Thanks for adding your config @gilbertw1! And thanks for the thorough response @hlissner. I'm going to use Sacha Chua and @gilbertw1 's config as examples to make part of what we spoke of a realit. And I'll be giving some thought to a potential solution to organizing `voodoo` code.

[2017-11-08 15:05] #250 closed

[2017-11-08 23:37] #236 closed

[2017-11-08 23:38] hlissner commented on #262
This is now in master.

[2017-11-08 23:38] #262 closed

[2017-11-08 23:39] hlissner commented on #244
This is now in master.

[2017-11-08 23:39] #244 closed

[2017-11-08 23:43] hlissner commented on #229
I've now added `if` cookies to Doom's autoloads crawler and byte-compiler.

In your particular case, autoload files that depend on evil now start with:

[code]

Which should return false if you have evil disabled, which should resolve your issue. Feel free to reopen this if that isn't the case.

[2017-11-08 23:43] #229 closed

[2017-11-08 23:43] hlissner commented on #222
This is now in master.

[2017-11-08 23:43] #222 closed

[2017-11-08 23:45] hlissner commented on #205
2.0.7 is now in master. `ui/doom` no longer sets a default font; it leaves it to you to set them in your private module. This should resolve your issue. Feel free to reopen this if that isn't the case.

[2017-11-08 23:45] #205 closed

[2017-11-09 00:12] hlissner commented on #258
Sorry for the late response!

`make` is the only command you need to worry about, when using doom. You should run it every time you edit `~/.emacs.d/init.el` (more specifically, the `doom!` block within).

However, it is helpful to understand what `make autoloads` does: it generates a special file that tells Emacs where to find lazy-loaded functions and commands. Without it, you get commandp, void

[2017-11-09 00:15] hlissner commented on #258
Oh, I should mention that the helm module already has a plugin that is similar to swiper called [helm-swoop](https://github.com/ShingoFukuyama/helm-swoop) (`M-x helm-swoop`). Perhaps that would suit you better? It could save you the hassle if so.

[2017-11-09 01:12] hlissner commented on #250
@Luis-Henriquez-Perez No problem!

@gilbertw1 That's really cool! I'm always impressed by literate configs, but I do have a few reservations. Having everything in one gigantic file, for instance. That'd make PRs, diffing, blaming or walking the history a lot tougher. Even if I were to split it up into 'doom-core', 'doom-modules' and 'private'. Ah, why can't the world be perfect?

In fact, that mak

[2017-11-09 02:09] gilbertw1 commented on #250
I saw [this configuration](https://github.com/howardabrams/dot-files) pretty recently. It's the first literate config that I've seen that uses many files. Could be an alternate strategy that might work for DOOM at some point in the future.

I'm really really digging it right now, but there are definitely small issues I've run into, and it's hard to tell if I'll stick with it in the long run after

[2017-11-09 16:25] #157 closed

[2017-11-10 15:19] amosbird opened #266 "Cannot override `projectile-require-project-root`"
Hi, I saw a lot of weird projects being cached in `/home/amos/.emacs.d/.local/@t450s/cache/projectile.projects` so I decide to set projectile-require-project-root to t. I did

[code]

and restart emacs. However `projectile-require-project-root` is still nil.

[2017-11-11 17:44] hlissner commented on #266
`def-package-hook!` doesn't work on packages in doom's core. However, for this specifically, just use `(setq projectile-require-project-root t)`, that should be enough.

[2017-11-13 01:45] amosbird commented on #266
Thanks!

[2017-11-13 01:45] #266 closed

[2017-11-13 01:54] amosbird commented on #227
@hlissner Hi, there is a regression now :)

[code]

[2017-11-13 06:10] amosbird commented on #222
Hi, I still cannot replace elpa package with quelpa.

[code]

[2017-11-14 00:16] hlissner commented on #227
I couldn't reproduce this on Arch, but I have on MacOS. I pushed another fix to `develop`. Please give it a try and let me know!

[2017-11-14 01:45] amosbird commented on #227
Thanks! it works fine now.

[2017-11-14 10:35] #227 closed

[2017-11-14 14:15] amosbird opened #267 "Error after doing make update."
Hi, recent commits seem to break make update in a harmless way :)
[code]

[2017-11-14 14:21] rphillips commented on #267
seeing the same thing as well.

[2017-11-14 14:56] hlissner commented on #267
Just pushed a fix for this to `develop`. I'll merge it into master this weekend.

[2017-11-14 16:26] amosbird commented on #267
It works fine now. Thanks!

[2017-11-17 03:15] amosbird commented on #267
It seems `make update` doesn't recompile packages. I've encountered a magit bug due to this.

[2017-11-17 15:36] amosbird commented on #267
and `make install` results in
[code]

[2017-11-18 06:09] amosbird commented on #267
Does doom provide a way to customize `package-archives`?

[2017-11-19 13:47] UtamaruMonster opened #268 "Org-mode agenda weekday"
When i do C-c . the agenda view week starts from Sunday. I want it to be Monday.
Tried ```org-agenda-start-on-weekday 1``` set it in org/config.el does not work. My question is how to set or-agenda to Monday?

[2017-11-19 16:24] dywedir commented on #268
Try `setq calendar-week-start-day 1`

[2017-11-19 19:33] UtamaruMonster commented on #268
As pointed out by @dywedir ```setq calendar-week-start-day 1``` worked. Thank you

[2017-11-19 19:33] #268 closed

[2017-11-23 05:19] vsr625 opened #270 "Status of this project"
Hi @hlissner , really like this emacs configuration. I've been following this project from the past 1500 commits. and I really like the way you improved it so much over that period.
I just wanted to know the status of this project, since you aren't updating it much lately, like if this is permanent or just temporary, I'm not trying to be rude here or asking for an ETA, i'm just asking out of curio

[2017-11-23 10:40] allforabit opened #271 "Disabling doom modeline completely disables modeline"
I'm having an issue at the moment where it is slow to enter text and I've narrowed it down to the doom modeline. When I disable it, emacs is responsive again. I'm just wondering if there's a way to revert back to the default emacs modeline for now. Currently when I disable it no modeline shows up at all whereas I'd like it to just revert back to the default emacs modeline. When I have time, I will

[2017-11-23 13:33] hlissner commented on #270
Hey there! Not at all, it's a fair question.

Doom is still active and my absence is definitely temporary. I've just returned to Canada after a 7 month stay in Denmark, came down with a cold I'm trying to sleep off, and have much preparing and work to do before the family visits for the Christmas season, so I'll be absent for, at most, another week while things settle down.

[2017-11-26 16:10] hlissner commented on #271
That is curious. Although, I am aware the modeline isn't as fast as it could be.

Assuming you've disabled ui/doom-modeline, the only thing that could cause a blank modeline is [this line in my private module](https://github.com/hlissner/doom-emacs/blob/develop/modules/private/hlissner/init.el#L12), but this file shouldn't even be executed unless your username is `hlissner`.

Try commenting that l

[2017-11-26 16:22] rizafahmi opened #273 "Remap : to ;"
I've been too long use `;` as remap to `:` How to remap it in doom/emacs?

[2017-11-26 22:19] allforabit commented on #271
Hi @hlissner thanks yes did this the trick. I just used your config as the basis for mine so this line was still in there. I will get back to you if I can figure out what particular parts of the doom modeline are making it run slowly on my machine.

[2017-11-26 22:26] allforabit commented on #273
You can use something like this to make `;` run `evil-ex` in normal and visual mode:
`
(map! :nv ";" #'evil-ex)
`

[2017-11-27 00:07] rizafahmi commented on #273
Thanks @allforabit

[2017-11-27 00:07] #273 closed

[2017-11-27 00:14] #271 closed

[2017-11-27 12:59] #270 closed

[2017-11-28 16:40] aewens opened #274 "`make install` not working on macOS"
* I am on macOS Sierra (v10.12.6)
* Emacs was installed through `brew cask install emacs`
* The default Emacs version was removed and /usr/bin/emacs is now mapped to /Applications/Emacs.app/Contents/MacOS/Emacs
* The version of Emacs I have is 25.3.1

I have a clean install of the repo, this is the result after running `make install`:
$ make install
Cannot load shackle
Cannot load editorconfig
Can

[2017-11-28 16:41] hlissner commented on #274
Does `make doctor` tell you anything?

[2017-11-28 16:52] aewens commented on #274
It generated this:
$ make doctor
DOOM Doctor
Running Emacs v25.3.1, commit fd56896e257888bc343fa692e3a377cdc4892881

Compiled with:
  NOTIFY ACL GNUTLS LIBXML2 ZLIB TOOLKIT_SCROLL_BARS NS MODULES
uname -a:
  Darwin 16.7.0 Darwin Kernel
  Version 16.7.0: Wed Oct 4 00:17:00 PDT 2017;
  root:xnu-3789.71.6~1/RELEASE_X86_64 x86_64

Attempt to load DOOM: success! Loaded v2.0.7
Revision fd56896e257888bc3

[2017-11-29 14:36] amosbird opened #276 "Disable mode-line hiding"
Sometimes normal buffers lose mode line due to unknown reasons. I'd like to disable this mode line hiding feature. I did `(advice-add #'doom-hide-modeline-mode :override #'ignore)` but it doesn't seem to work. `*Messages*` buffer still doesn't have mode line shown.

[2017-11-29 15:15] aewens commented on #274
It ended up being a networking issue, I got it all sorted out by disabling the VPN I was on.

[2017-11-29 15:15] #274 closed

[2017-12-01 04:45] mikeonly opened #277 "Incompatible mac-option-modifier and system-wide alt-key definitions"
On macOS I have a problem with doom-emacs config that my system-wide <kbd>alt</kbd> keymappings are ignored by Emacs and are interpreted as keybindings if I set `mac-option-modifier` to `alt`. I rely on keybindings with `alt` inside Emacs for text movement, but if I try to input a symbol with <kbd>alt</kbd>, I get an undefined error.

_To reproduce_:
- Have `emacs-mac` port installed.
- Execute `(

[2017-12-01 08:31] AloisJanicek opened #278 "Scaling down icons globally?"
Hi, I am starting out with this awesome Emacs config (and with Emacs in general) and I would like to have icons little bit smaller. I know about `all-the-icons-scale-factor`, but when I tweak it in my private init.el, it only affects for example neotree and not modeline, because there are explicitly specified local values of `all-the-icons-scale-factor` in doom-modeline module's config.el.
Do you

[2017-12-01 22:44] zcaudate opened #279 "Problems finding gnu and melpa"
I'm on osx with GNU Emacs 25.3.1

------------
[code]

[2017-12-04 09:57] ocharles opened #282 "What is your process for using magit?"
Hi. First, thanks for this lovely Emacs configuration - I'm having a lot of fun learning from it.

I'm curious - how do you use Magit? I see there is `SPC g S` to get a Magit status window up. From here, I would typically stage files/hunks, and then hit 'C' to commit. When I do this, Emacs focuses the Magit diff window, it seems to get to the commit message window I have to `q` the diff, which the

[2017-12-04 15:31] UtamaruMonster opened #283 "After make update "Cannot open load file: No such file or directory, up-core""
After ```make update``` i get ```Eager macro-expansion failure: (file-error "Cannot open load file" "No such file or directory" "up-core")```

Problem in ```use-package```

https://github.com/jwiegley/use-package/issues/533

[2017-12-04 16:54] AloisJanicek commented on #283
It's `use-package` problem. Fix is on the way, according to [this](https://github.com/jwiegley/use-package/issues/536) issue thread.
Temp hack would be to go to `~/.emacs.d/packages/elpa` and remove content of use-package directory and clone use-package into it:
`rm -rf use-package-20171203.1313/*`
`git clone https://github.com/jwiegley/use-package.git use-package-20171203.1313 `

[2017-12-04 17:19] UtamaruMonster opened #284 "Make compile error, Symbol’s value as variable is void: doom-popup-mode-map"
Fresh install
```make compile```
```(doom-initialize-packages) void-variable in core/autoload/popups.el: Symbol’s value as variable is void: doom-popup-mode-map```

[2017-12-04 18:49] hlissner commented on #279
What does `make doctor` say?

[2017-12-04 18:58] hlissner commented on #276
This is likely because of an issue I've been chasing where `doom-popup-mode` is being activated in non-popups.

You may have better luck with:

[code]

[2017-12-04 19:08] hlissner commented on #267
You can modify `package-archives` in `~/.emacs.d/modules/private/$USER/init.el`, and it should affect non-core packages.

It should delete old packages and install/byte-compile new ones, so recompilation should be unnecessary. If you are using multiple computers, byte-compilated code on one computer may not necessarily work on another.

In any case, I've added a new make command: `make compile-elp

[2017-12-04 19:14] hlissner commented on #284
This should be fixed in `develop`, which will be merged soon.

[2017-12-04 19:16] hlissner commented on #283
To avoid issues like these in the future, Doom now installs `use-package` from `melpa-stable`. Go ahead and delete `.local/pacakges/elpa/use-package-20171203.1313` and restart Doom to reinstall it.

[2017-12-04 22:41] #284 closed

[2017-12-04 22:42] #283 closed

[2017-12-04 22:57] #193 closed

[2017-12-05 01:18] zcaudate commented on #279
[code]

[2017-12-05 02:22] amosbird commented on #276
@hlissner Hi, it's great to hear from you again :) I removed all the shackle related stuff for a while and it works quite stabler ...

[2017-12-05 02:23] amosbird commented on #282
@ocharles This is mostly related to the interference of `doom-core-popup` :)

[2017-12-05 04:21] hlissner commented on #282
Unfortunately, magit+doom integration simply is that buggy. I'm not well acquainted with magit yet, and uptake has been slow (I'm far more familiar with command-line git). amosbird is correct, the culprit here is poor integration with `shackle` in `core/core-popup.el`.

Doom's popup management is overdue for a redesign, but in the meantime, could you try something for me?

Comment out lines 342-37

[2017-12-05 05:58] hlissner commented on #278
Sadly, there is no way to do this with those local bindings there. I'll look through ui/doom-modeline and see if those are necessary anymore, then you'll be able to use `all-the-icons-scale-factor` again.

[2017-12-05 06:07] hlissner commented on #279
Ah, this is a duplicate of #80.

If the advice in that thread doesn't work for you, you can forgo TLS verification entirely with the `INSECURE` env var, e.g. `INSECURE=1 make install`.

[2017-12-05 06:07] #279 closed

[2017-12-05 11:28] ocharles commented on #282
Oh, you really should invest the time in magit - it's incredibly productive!

I made those changes and magit is much more usable now. I'll carry on like that for the rest of the day and see how I get on.

Thanks.

[2017-12-06 18:27] hlissner commented on #277
After some research, I've discovered how to fix this:

[code]

However, this will break most alt bindings, if you have any. Doom, by default, only has 2, `A-;` and `A-x`, as aliases for `M-;` and `M-x`. This could be worked around by binding keys to the unicode key, e.g. `(map! "Ø" #'dosomething)` instead of `(map! "A-o" #'dosomething)`, but this isn't cross-platform compatible.

OR, you could do

[2017-12-06 18:33] hlissner commented on #276
Fair enough. The popup system is overdue for a rewrite! In the meantime, I will close this issue.

[2017-12-06 18:33] #276 closed

[2017-12-06 22:50] AloisJanicek opened #285 "Inserting [ ] and [/] in org without deleting paired symbols?"
Hi,
when I try to type `[/]` at the end of heading, I got two forward slashes and I must delete one. Same goes for checkbox `[ ]`, where after having cursor between opening and closing square bracket, I press "SPC" in Insert mode and I got two spaces and I must remove one otherwise checkbox is not valid.
Is this intended behaviour or could I did something in my private module to cause it?

[2017-12-06 23:21] bondzula opened #286 "Some packages are not loading"
First a disclaimer, I'm new to emacs, so maybe I'm doing something wrong.
Anyhow, when i start my emacs, some packages are not loaded, such as counsel. so by trying `M-x` i get

`Wrong type argument: commandp, counsel-M-x`

From what i could understand, you are lazy loading most of the packages, and counsel simply isn't loaded, if i change `:after ivy` to simply `:demand t` it works just fine. But

[2017-12-06 23:25] hlissner commented on #286
`:demand t` shouldn't be necessary, ivy is loaded immediately, therefore counsel should be loaded immediately after. That said, adding `:demand t` won't hurt either, if that's what got it working for you.

However, this could indicate that something else went wrong before counsel could load. Have you checked the `*Messages*` buffer to see if any errors crop up (`M-x view-echo-area-messages`)? Or `

[2017-12-06 23:37] bondzula commented on #286
I just checked, there are no errors at all. If counsel was the only package affected i wouldn't mind having that on `:demand t` but i don't relay need company-anaconda to load every time as i won't be editing python all the time, and i didn't relay test this much, but chances are that more packages are affected, maybe I'm missing something here, but it sure seems like `:after ...` hook doesn't wor

[2017-12-07 02:02] hlissner commented on #285
`smartparens` has been misconfigured for org-mode. I have a fix for this sitting my local branch that I've tested for a while. I'll let you know once it hits `develop`.

[2017-12-07 07:16] AloisJanicek commented on #285
Thank you, I am looking forward to it.

[2017-12-07 16:25] hlissner commented on #286
Could you check to see if `use-package-keywords` contains the `:after` keyword (with `M=x describe-variable RET use-package-keywords`)?

Could you also try replacing the `:after ...` with `:requires ...`?

[2017-12-07 22:36] bondzula commented on #286
`use-package-keywords` does contain `:after` and changing it to `:requires` makes no difference

[2017-12-07 23:12] hlissner commented on #286
Turns out, as of recently, this is [expected behavior for use-package](https://github.com/jwiegley/use-package/issues/575).

You may use `:demand t` in that case. This has some farther-reaching implications for Doom that I will address more comprehensively by 2.0.8. I'll leave this open until it's fixed.

[2017-12-08 06:06] mantlepro commented on #286
I can confirm that replacing `:after ivy` with `demand t` fixed it for me.

    # ~/.emacs.d/modules/completion/ivy/config.el

    (def-package! counsel
      :demand t
    ...

[2017-12-08 18:03] amosbird opened #287 "Marker points into wrong buffer: #<marker in no buffer>"
Hi, I'm not sure if this is related to doom. Since my emacs-fu is limited, I'd like to post the question here hoping I may get some help :)

When doing ivy related buffer commands, there are a bunch of markers which point to the ivy buffer being set in evil jumplist. This breaks the navigation process.

(evil-jumps-struct-ring (evil--jumps-get-current))
[code]

Is there a way to fix this? best reg

[2017-12-09 00:38] bondzula commented on #286
After reading this https://github.com/jwiegley/use-package/issues/562 it seem that old approch worked becouse of the bug, all that needs to be done is add `:demad t` after `:after ....`, as it will load that package only after condition is met . So it still is lazy loading. I've tested this with `python-mode` and it worked, `anaconda-mode` and `company-anaconda` are loaded only after python mode

[2017-12-09 04:53] hlissner commented on #286
I've made some big changes, mainly centered around setting `use-package-always-defer` back to its default (`nil`). Something I've meant to do for a while.

It is in `develop` while I test it, but should resolve your issue.

@bondzula I've found another solution to the problem, but thanks for explaining it to me. That makes sense.

I'll keep this issue open until the fix has be merged into `master`

[2017-12-09 04:55] hlissner commented on #282
I've made a couple modifications to popup rules for magit in `develop`, which should fix the commit/diff buffer issue you mentioned. This also helps magit co-exist with shackle, at least until I rewrite shackle integration.

If you can, please give it a try.

[2017-12-09 04:56] hlissner commented on #277
I'll close this for now. Feel free to reopen this if the above doesn't solve your issue.

[2017-12-09 04:56] #277 closed

[2017-12-09 05:18] hlissner commented on #285
I just pushed a fix for this to `develop`. Please give it a try.

In any case, I'll keep this issue open until it gets merged into `master`.

[2017-12-09 12:37] AloisJanicek commented on #285
I can now type org's cookie `[/]` seamlessly, thanks!
Unfortunately issue with getting two spaces (instead of one) when I want to construct first checkbox list item and I have cursor between `[` and `]` is still present.

[2017-12-09 16:41] hlissner commented on #285
I've added a line to my private module to fix this. In case you've created your own, you'll need this:

[code]

[2017-12-09 19:52] AloisJanicek commented on #285
I can confirm, it is now fixed, thank you.
Hover I have several serious problems with current develop branch (no modeline, error on startup in `solaire-mode.elc`, some commands are not loading line `winner-undo`).
I am facing here (probably stupid) dilemma, because as I beginner I have a hard time to recognize if I am doing something wrong on my side and I will waste your time with opening issues.

[2017-12-09 20:05] hlissner commented on #285
I appreciate the consideration, but don't worry, I really don't mind.

Anyhow, the last few days have been especially hectic for the `develop` branch; I've introduced a laundry list of breaking changes that could be causing your problems. So try running this:

[code]

This should nuke any inconsistent state lingering from previous versions. If that doesn't resolve your issue, let me know, and plea

[2017-12-09 21:53] hlissner commented on #285
After some experimenting, it turns out that the errors you were seeing were, in fact, caused by solaire-mode. I've pushed a fix for it. Please give it a try and let me know!

[2017-12-09 22:27] AloisJanicek commented on #285
Yes, everything is fixed, including modeline and `winner-undo'.
There is nothing interesting in echo-area-messages anymore:
[code]

but make doctor gives some kind of error (it could not find something?):

[code]

[2017-12-10 17:41] AloisJanicek opened #288 "Compilation errors (less-css-mode, ox-reveal, dante)"
I was tired and I didn't noticed them when we talked yesterday in #285 .
I am using up to date develop branch of Doom Emacs here.
First `dante` error:

[code]
Compilation stops. When I comment out haskell line in `.init.el`, I can continue and I got another 255, this time `ox-reveal`:

[code]

In this case helps only commenting out whole org module list in `init.el`. But it doesn't ends. I got ano

[2017-12-10 18:27] hlissner commented on #258
Closing this due to inactivity. Feel free to reopen if your issue hasn't been resolved.

[2017-12-10 18:27] #258 closed

[2017-12-11 07:21] AloisJanicek commented on #288
After recent commits, errors with `dante` and `ox-reveal` are gone.
`less-css-mode` error after executing `make` is still present.
And there is new (?) one in `app/irc` or in `private/hlissner`:

[code]

Anyway, I don't use IRC in emacs, so I can disable it and successfully compile doom-emacs from develop.

[2017-12-12 06:31] hlissner commented on #164
With the default font removed, this shouldn't be an issue any longer, so I will close this issue.

[2017-12-12 06:31] #164 closed

[2017-12-12 20:24] AloisJanicek commented on #282
Actually today I wondered about the same thing, and adding `(add-hook! 'git-commit-mode-hook 'evil-insert-state)` into `config.el` in my private module solved it. Now commit buffer in Magit starts in evil insert mode, I can press `<escape>` and I have normal mode.
I took it from this [emacs.stackexchange](https://emacs.stackexchange.com/questions/14008/default-magit-commit-state-in-evil) post.

[2017-12-13 13:52] UndeadKernel opened #289 "Reconsider running the private module of the current user by default"
Hi Henrik. Have you considered removing the default behavior of running the configuration of the current user even when it is not stated in the ":private" section of the init.el?

I have found that this behavior is confusing and gives problems when testing other private configurations. Picture the following scenario: I already have a private configuration. I decide that I want to test your private

[2017-12-13 14:27] AloisJanicek commented on #289
Good news, this is already implemented in develop, see https://github.com/hlissner/doom-emacs/commit/346d7bdf360f1d0a66504de721d7a1fb75f148d2 . You must explicitly state `:private my-user` to load corresponding module.

[2017-12-13 14:30] UndeadKernel commented on #289
Before posting the issue, I checked `core/core-packages.el` of the master branch. I forgot to check the debug branch to see if the problem was still there :D

[2017-12-13 16:01] hlissner commented on #289
You are quite right! It was also too magical for my taste, so it's been removed in develop, and should be merged into master any day now (just doing my final rounds). I'll leave this open until it has.

[2017-12-13 16:14] hlissner commented on #288
I'm still not sure what could be causing your less-css-mode error. You could try looking into `~/.emacs.d/.local/@HOSTNAME/etc/custom.el` and removing less-css-mode from the `package-selected-packages` variable there. It's possible that Emacs _thinks_ the package is installed, but isn't.

This is likely the result of all the make-gymnastics we've been doing throughout this issue! I'm afraid Doom's

[2017-12-13 16:32] AloisJanicek commented on #288
I don't have `custom.el` file there:
[code]
And I remember that I was doing multiple clean installs of doom-emacs before submitting this issue, so I think that this is not result of executing those different make commands all over again.

I will do another clean install from develop and post exact sequence of commands I executed so you can be sure in case that error prevails.

[2017-12-13 17:19] AloisJanicek commented on #288
Here are commands I just executed:
[code]

I also attaching whole output log of those commands and fresh `make doctor` output.

[doom-log.txt](https://github.com/hlissner/doom-emacs/files/1556371/doom-log.txt)

[code]

[2017-12-16 13:05] samosaara opened #290 "Ivy and cousel not working."
I did tried using helm and it works flawlessly over there. But on ivy I've even tried to reinstall twice to make sure I didn't mess up anything,  but (almost) all of the search related functions seems to be broken, all throwing errors like this:

```Wrong type argument: comandp, counsel-[something]```

![Screenshot](https://i.imgur.com/kyr9VZ9.png)

All the commands on the log all just trowed the

[2017-12-16 13:09] samosaara commented on #290
Duplicate of #286

[2017-12-16 13:09] #290 closed

[2017-12-16 13:15] AloisJanicek commented on #290
Some packages are not loading.
Temporary fix would be to put
[code]
into `config.el` in your private module.
Information on private modules is on [wiki/Customization](https://github.com/hlissner/doom-emacs/wiki/Customization)

[2017-12-16 13:17] samosaara commented on #290
Yeah I've been reading on the original issue and understood the problem. I use arch, so I'm used to living on the edge, I just decided to `git checkout -b develop`

[2017-12-16 17:39] hlissner commented on #278
Sorry for the late response; I've removed the all-the-icon-scale-factor let-bindings in `develop`, so you should be able to modify that yourself from here on out. As it turns out, they aren't necessary anymore; either the font glyphs have been adjusted since, or I simply can't find the edge cases where they were needed.

Please give it a try. I will keep this open until it has been merged into `ma

[2017-12-16 18:07] vharish opened #291 "Having problems with ivy/counsel"
Hi. I am having problems getting counsel to work with the default setup as described in the README.
[code]

I tried this with emacs 25.3 both on Ubuntu and MacOS High Sierra. The counsel commands does not seem to be working. Hitting `M-x` gives the following errors.
`Wrong type argument: commandp, counsel-M-x`
Similarly for other counsel commands. `counsel-projectile-find-file` etc.

Please let me

[2017-12-16 19:05] AloisJanicek commented on #278
Thank you.
After 2+ weeks of using Doom, I could not identify this need for changing icon size anymore. I just tried it, it works, but even little change seems odd now - I got used to how look by default.
Nevertheless it is good that anyone now can easily change icons' size in doom if such need surface.

[2017-12-16 19:40] dswinters commented on #291
I am having the same issue on MacOS Sierra since updating recently. Currently working around this by adding `(require 'counsel)` to my private init.el.

[2017-12-17 06:26] hlissner commented on #291
This is actually a duplicate of #286, so I'm closing this issue.

That said, your issue is caused by my misunderstanding of `use-package`'s :defer and :after mechanics, which was fixed recently in the `develop` branch as part of #286 in https://github.com/hlissner/doom-emacs/commit/9d81bc5a8b1be7ae03dd595cea2170dbb8edab2d.

As of an hour ago, this fix is now merged into `master`, so updating Doom

[2017-12-17 06:26] #291 closed

[2017-12-17 06:27] hlissner commented on #286
This is now in master, so I'll consider this issue resolved. Cheers!

[2017-12-17 06:27] #286 closed

[2017-12-17 06:31] hlissner commented on #278
You're very welcome! This has now been merged into master, so I'll consider this resolved.

[2017-12-17 06:31] #278 closed

[2017-12-17 06:44] hlissner commented on #282
The fix addressing magit popups has now been merged into `master`, so I will consider this resolved.

Essentially, I've left magit to manage itself, at least until I rewrite core-popup. You can restore semi popup integration by simply removing `"^\\*magit"` from `doom-popup-blacklist`.

As for getting evil-insert-mode in the git-commit buffer, this has been added to `develop` for the next release.

[2017-12-17 06:44] #282 closed

[2017-12-17 06:46] hlissner commented on #267
The fix for the original issue is now in `master`, so I'll consider this resolved.

[2017-12-17 06:46] #267 closed

[2017-12-17 09:49] vharish commented on #291
@hlissner  @dswinters Sure. Thanks for the help.

[2017-12-17 14:08] ruimams opened #292 "Document the change: private/{username} is no longer loaded by default"
346d7bdf360f1d0a66504de721d7a1fb75f148d2 made it so that `private/{user-login-name}` is no longer loaded by default. This change is now on `master` but there is still documentation describing the old behaviour.

As far as I could tell these are all the places that still describe the old behaviour:

- https://github.com/hlissner/doom-emacs/blob/8c4e6a267d8a61d917813eee714816347331c322/init.example.

[2017-12-17 14:09] russmatney opened #293 "`use-package: Unrecognized keyword: :hook`"
I'm experiencing problems this morning with `:hook` when trying to update via `make`.

[code]

Reverting git to before the merge (`fd56896e`) as well as to before the hook-related commit (`2cbd1b91`) both allow `make` to run again. This leads me to think https://github.com/hlissner/doom-emacs/commit/9d81bc5a8b1be7ae03dd595cea2170dbb8edab2d is to blame.

Perhaps my local use-package needs to be upd

[2017-12-17 14:11] russmatney commented on #293
Resolved! Just found https://github.com/hlissner/doom-emacs/issues/283.

Deleting my `.local/pacakges/elpa/use-package-*` and running `make` worked fine. Not sure if there's a better way to communicate hitting things like this, but i did have a months old use-package version.

[2017-12-17 14:11] #293 closed

[2017-12-17 18:29] hlissner commented on #285
The fix for the original checkbox issue is in `master` so I'll close this issue.

Regarding your "peculiar error" when running make doctor, I've been following this issue for a long time (see #175). I suspect it has to do with package.el failing its TLS validations, which I will indirectly fix when I dump package.el in favor of a straight.el for 2.1.

[2017-12-17 18:29] #285 closed

[2017-12-17 18:32] hlissner commented on #233
I'm closing this due to inactivity and because I don't think it's a problem with Doom. I'll look into better Doom integration with auto-compile-on-save-mode after 2.1.

[2017-12-17 18:32] #233 closed

[2017-12-18 10:51] DonHansDampf opened #294 "File mode specification error: (void-function alchemist)"
Running Sierra installed a fresh copy of Emacs (`brew install emacs-mac --with-glib --with-imagemagick --with-dbus --with-modules --with-modern-icon --with-natural-title-bar --with-xml2 --with-gnutls`), removed my old `.emacs.d`-folder, and cloned DOOM.

I copied/edited the `init.el`-file and run `make install`. Somehow it seems like the install-process skips some packages with the message `Alread

[2017-12-18 12:03] #289 closed

[2017-12-18 18:15] #294 closed

[2017-12-18 18:18] hlissner commented on #294
The `lang/elixir` module was misconfigured, my bad. I've hotfixed a rewrite of the module into `master`, which should resolve your issues. Feel free to reopen this if it doesn't.

[2017-12-18 20:51] Ptival commented on #289
Hey @hlissner , it seems the feature is removed in master, but init.example.el still has a comment suggesting that the feature is still present. You should consider removing it, if it's not already done in the develop branch!

[2017-12-18 21:18] hlissner commented on #292
Thanks for bringing these to my attention! The changes have been made.

[2017-12-18 21:18] #292 closed

[2017-12-18 21:27] hlissner commented on #289
@Ptival Good timing! I was _just_ about to fix that. That comment has now been removed.

@UndeadKernel Thank you for the kind words, and you're very welcome! Doom has been an awesome ride, no small part owed to the awesome people like yourself that have helped me figure things out!

[2017-12-18 21:28] hlissner commented on #261
This turned out to be a larger undertaking than I had anticipated, so I've pushed this back to 2.1.

[2017-12-19 08:39] DonHansDampf opened #295 "Circe not working without pass"
Hello,

just tried `circe`, but it doesn't start without `pass`-package installed. I get the error message: `cons: Symbol’s function definition is void: +pass-get-user`.

The reason for this is probably the private module `hlissner` which tries to load a circe config via `pass`. Dunno if this is desired, or maybe the private module should be disabled?

Greetings

[2017-12-19 08:59] hlissner commented on #295
That is _sort of_ intended. My private module is included as a reference and some sensible defaults, but I expect folks to copy it and make it their own.

That said, I understand your frustration. I already have plans (for 2.1) to a) move my private module to a separate repo and b) replace it with a more general "defaults" module, which will only include evil-mode ex commands and keybindings.

I'l

[2017-12-19 09:04] DonHansDampf commented on #295
No problem. Definitely no frustration involved 😉 Also i am not sure how "open" you want to design this project.

Reference is good, but an emacs beginner would not have any clue, why he can't use package X and simply create an issue. Would be simply a great design, when it isn't possible to break anything via changing basic config in the `init.el`.

Thanks and keep going!

[2017-12-19 23:53] bondzula opened #296 "Org capture - Invalid file location"
Hello,
When i try to open org capture Todo template i get `Invalid file location: nil` error, while Notes template works perfectly fine, so i checked and you defined file paths in different ways

[code]
so i applied the method you use to define notes.org path on todo.org, and it works like a charm

and i have a question, i tried to change `+org-dir` in my private module with no success, what would

[2017-12-20 17:18] amosbird opened #298 "Toggling popup window makes it smaller"
It keeps shrinking when toggling on and off.

[2017-12-21 00:54] hlissner commented on #165
Sorry for the late response; now that there is no longer a default font and Doom has been extensively tested on Emacs 26 and 27, I think I've resolved this particular error along the way. If that isn't the case feel free to reopen this.

[2017-12-21 00:54] #165 closed

[2017-12-21 00:58] hlissner commented on #175
Phew, it's been a while, but I think I've finally tracked this "peculiar error" business down to faulty error handling in the doctor script. This _should_ resolve this issue. As it is an old issue I'll close this issue, but feel free to reopen it if this most peculiar of errors rears its head again.

[2017-12-21 00:58] #175 closed

[2017-12-21 01:40] ruimams opened #300 "A commit was lost (evil-insert in git commit buffers)"
Hi @hlissner, I'm not sure if you are aware but 8928ff07d7d7d65f77afb652d749cf4d9dc83bb5 is gone (not sure what term to use here) from the repo, despite still showing up on github. It was, during some time, on the `develop` branch but it isn't anymore, neither on `develop` nor `master` branches.

I guess this happened with some force push, or something like that. If you are aware of this feel free

[2017-12-21 03:16] hlissner commented on #300
Ah! My bad. A struggled to find a dangling commit when I was merging 2.0.8 and never found it, so I took the lazy way out. This was it!

I shouldn't be merging that late in the evening!

Anyhow, it's back in `develop` now, for the time being. I've noticed a laundry list of bugs and outdated documentation I'd like to address in the next week or two, so I'll fit this into a 2.0.9 release right after

[2017-12-21 03:34] chriskaukis commented on #175
Awesome, thanks and glad you found the issue. 👍

[2017-12-21 23:51] ruimams commented on #300
No problem. Thanks, once again!

[2017-12-22 09:17] hlissner commented on #288
Finally tracked that pesky less-css-mode error down!  less-css-mode is included with Emacs.

`make autoremove` does a search for packages whose backend has changed (from package.el to QUELPA, or vice versa) and didn't know how to classify a built-in package, causing it to think the package wasn't installed at all.

Anyhow, the fix is now in `develop`. I'll keep this open until it hits `master`.

[2017-12-22 11:25] AloisJanicek commented on #288
Nice work, I don't get that error message anymore.

[2017-12-22 12:11] ocharles opened #301 "develop: Error if Fira font is missing"
On startup on `develop` I get:

[code]

This is coming from your private layer I think, which is enabled by default. Maybe worth adding a check around this?

[2017-12-23 07:36] hlissner commented on #301
This was _sort of_ intended, but I've done you one better: `private/hlissner` has been [moved to an external repo](https://github.com/hlissner/doom-emacs-private), and has been replaced with `private/default`, which provides a few reasonable defaults that should work out of the box.

This is in `develop` for now, but should make it into `master` sometime between Christmas and the new years. I'll l

[2017-12-23 07:44] hlissner commented on #295
Just to let you know: `private/hlissner` has been [moved to another repo](https://github.com/hlissner/doom-emacs-private) and replaced with `private/default`, which is a stripped down and more general version fo my own module.

This should fix your issue (and more importantly, make Doom less troublesome out of the box). I'll keep this issue open until it gets merged into `master`.

I agree. Althou

[2017-12-23 14:05] ocharles commented on #301
Sounds like a good move! I did at one point turn your module off, but that turns off *too much* - your module is actually a great set of default

[2017-12-24 20:21] hlissner commented on #296
Alright, a fix for `Invalid file location: nil` is now in `develop`. I'll keep this issue open until it gets into `master`.

The most reliable way to do this is to set it in your private module's init.el. `lang/org` won't overwrite variables that are already defined.

However, you _should_ be able to change `+org-dir` from your private module's config.el **if** org isn't loaded yet. Could you shed

[2017-12-25 23:50] vikigenius opened #303 "Find File TAB autocompletion"
The find file function bound to the <SPC .> in the default module is not working well with tab completion.

I was just testing your config with the default module in the develop branch, and when i tried to simply open a file in some folder using find-file <SPC .> it is showing correct autocompletion, i press tab and it successfully autocompletes the folder name, however if i press tab again for th

[2017-12-26 00:01] hlissner commented on #303
And fixed! I'll leave this issue open until it's been merged into `master`.

[2017-12-26 14:24] vikigenius opened #305 "CC module navigation"
The README.org in the CC module mentions code navigation with irony, as far as i know, irony doesn't provide this feature.

Can you just briefly mention on how you are doing code navigation for C++. I personally had been using rtags till now, it works good, but i am not really happy with it, but you don't seem to be using it.

You seem to be using xref, but how are the tags getting built for it? I

[2017-12-26 18:00] amosbird opened #306 "pdf-tools autoload doesn't work"
I did
[code]
and there are a bunch of warnings related to symbol void.

I tried manually doing (package-initialization) but it still doesn't work. Does doom handle elpa autoloads differently?

[2017-12-26 18:03] amosbird commented on #305
I have a forked version of cc module with only rtags enabled

https://github.com/amosbird/abdoom/blob/master/cc/config.el

It works pretty well.

[2017-12-26 18:09] hlissner commented on #306
Could you copy-paste those warnings here?

There isn't anything wrong with your `def-package!` declaration. pdf-tools is _not_ included in Doom (yet), so I assumed you have installed it in your private module?

Doom doesn't handle ELPA autoloads _at all_ (and doesn't need to, since `use-package` sets up its own autoloads, e.g. `:mode (("\\.pdf\\'" . pdf-view-mode))` creates an implicit autoload fo

[2017-12-26 18:17] vikigenius commented on #305
Cool, i will check it out, i am already on my way of doing it myself. Do you have any tips for speeding up rtags, especially some places where it pretty much takes 5-10 seconds for go-to-definition?
It is pretty much the best indexer that is available for emacs in terms of C++ support but damn, it's slow.

[2017-12-26 18:45] amosbird commented on #305
Yup, rtags can be quite CPU intensive. The tip is to get more hardware. I use rtags on an 40 cores machine with 256GB memory ;-)

[2017-12-26 18:47] amosbird commented on #306
Something like `Symbol's function definition is void: pdf-occur-global-minor-mode`

All elisp files listed in pdf-tool-autoloads.el are not loaded at all.

[2017-12-26 18:57] hlissner commented on #305
Right now, xref in Doom uses etags and gnu global as backends, but they are less than stellar. They will ask you where the TAGs/global db file is if they can't find it on first invocation.

In fact, I rely on [dumb-jump](https://github.com/jacktasia/dumb-jump) for most of my C/C++ code navigation needs (basically, set `(setq xref-backend-functions '(t))` in C/C++ buffers and use `+jump/definition`

[2017-12-26 20:00] AloisJanicek opened #307 "Org attach errors (on DND action or after selecting pdfs via +org-attach/file fn)"
Hi, when attempting to drag and drop image into emacs (from dolphin into GUI emacs) I am getting `Error: (void-function +org-attach:url)`.
Need surfaced for me to somehow manage attachments as reference to tasks, I discovered Abo-Abo's org-download, which is what Doom's configuration uses as backend, but it somehow doesn't seems to work.
From all attach commands which I found via `M-x`, only `+org

[2017-12-27 00:43] hlissner commented on #305
I've added rtag support to `develop`, loosely based off of @amosbird's work. It needs more testing, but it'll have to wait until after new years.

[2017-12-27 00:46] hlissner commented on #305
@amosbird What're your experiences with flycheck-rtags? Is it better than flycheck-irony? I haven't found any compelling reason to use the rtags backend over the irony one.

[2017-12-27 01:05] hlissner commented on #306
Yes, you'll need to manually load `pdf-tool-autoloads.el` with `(load "pdf-tool-autoloads.el" nil t)`

Perhaps something like:

[code]

[2017-12-27 01:41] amosbird commented on #306
Thanks!  btw, `  :if (display-graphic-p)` won't work if I always start emacs in daemon first :3

[2017-12-27 01:51] amosbird commented on #305
Hi, flycheck-rtags always shows the same errors as my project building system. I remember I didn't have much luck with flycheck-irony, and I never use auto-completion in c++. It's slow.

[2017-12-27 04:46] hlissner commented on #305
That's odd. Irony is configured to pick up on the same compile_commands.json file as rtags, so flycheck-irony ought to produce the same errors as your build system.

[2017-12-27 05:58] hlissner commented on #306
No problem! I'll assume your issue is resolved and close this.

Only for monolithic packages with autoloaded functions spread across many files, like Auctex, helm, org and haskell-mode (I've already done it for these packages). I do this because I like to only specify exactly what i nee, and in practice, I don't need most of those autoloads files; they end up only adding to the startup time.

Oh!

[2017-12-27 05:58] #306 closed

[2017-12-27 06:04] hlissner commented on #307
My bad, there were two references to long-gone functions. It should be fixed in `develop` now. I'll leave this open until it's in `master`.

[2017-12-27 07:43] amosbird opened #308 "projectile somehow doesn't record new projects at all"
[code]

`find-file-hook` contains `projectile-find-file-hook-function` which invokes `(projectile-track-known-projects-find-file-hook)`

However, when doing directory jumps, `(projectile-track-known-projects-find-file-hook)` isn't called. This issue happens recently after I update to 2.0.8.

[2017-12-27 09:03] AloisJanicek commented on #307
Cool, thanks, everything works now.
I really appreciate all the hard work you have put into Doom Emacs and make it accessible for beginners.

[2017-12-27 16:10] aminb opened #309 "Dashboard enhancements"
I've been thinking about this for a while, and I think it'd be nice

- if one could set the default directory for the dashboard. I tried defining a helper function for myself, something like this, but it doesn't seem to work (maybe due to `(switch-to-buffer (doom-fallback-buffer)` in `+doom-dashboard/open`?):
[code]

- if there was an option to disable Doom's behaviour of `cd`ing into the director

[2017-12-27 18:07] hlissner commented on #309
The default behavior of Doom's dashboard (when switching to it) is to cd into the project root of the last buffer you had open. I do this because it's annoying to accidentally close the last project buffer, land on the dashboard, and suddenly be in another project.

That said, I'll look into adding an option to change (and disable) this behavior.

Globally? I take it you're a vimmer (as am I), and

[2017-12-27 18:27] hlissner commented on #309
Just added [+doom-dashboard-pwd-policy](https://github.com/hlissner/doom-emacs/blob/develop/modules/ui/doom-dashboard/config.el#L16) to ui/doom-dashboard. To replicate your `doom-dashboard-home` you can set this to a fixed path string:

[code]

[2017-12-27 18:42] hlissner commented on #308
One possibility comes to mind: you've byte-compiled Doom and you're on the `develop` branch.

I've changed `doom-cache-dir` (and `doom-etc-dir`) in `develop`, so unless you run core/core.el (uncompiled), the new cache folders won't be created, and projectile won't be able to write to cache.

If this sounds right, you'll need to either:

+ Migrate your old files: `mv ~/.emacs.d/.local/$(hostname)/*

[2017-12-27 22:22] aminb commented on #309
Perfect, thanks!

Also, yup, I do come from vim 😁 Although that was a good 3-4 years ago.

As for my workflow, I just went and dug up my old Emacs config and trying to remember my old workflow, I realized part of what I remembered about it was wrong. So on my old setup, just like Doom's, `magit-status` would open up the current git repo (if the current dir is one); so there's no difference there.

[2017-12-28 01:45] amosbird commented on #308
Nope, I did a refresh update by removing the old `.emacs.d`.

[2017-12-28 16:17] casouri opened #310 "Why is doom emacs so fast?"
I use my own configuration and was amazed by the startup speed of doom eamcs. Why is doom emacs so fast on startup? What optimization did you make?

[2017-12-28 16:27] casouri commented on #310
I noticed that all packages are installed before startup. Is it because package checking is expensive?

[2017-12-29 00:16] aminb commented on #309
@hlissner It seems like one of the commits in range 86f445d..HEAD (probably 86f445d itself) "broke" `+doom-dashboard-pwd-policy`, as setting it to `~/` doesn't seem to have any effects (e.g. Doom still starts with `~/.emacs.d/` as dashboard's directory). 6c3d7ad works fine though.

[2017-12-29 01:01] hlissner commented on #309
I noticed some inconsistencies to when the dashboard decided to update the pwd, and discovered `+doom-dashboard-reload` wasn't always reloading the dashboard (a performance feature). So I moved the pwd-updating code outside of the condition and it (seem to) work perfectly now. Let me know if it gives you any trouble!

[2017-12-29 01:28] hlissner commented on #309
Actually, this issue runs even deeper and needs further investigation, so I'll consider this issue unresolved until I make some much needed improvements to buffer management in general in Doom.

[2017-12-29 01:34] aminb commented on #309
Thanks for the update and for looking into this. I'll keep an eye on `develop` then :)

[2017-12-29 08:21] andyafter opened #311 "Neotree folder structure closes when using evil-window-close"
Whenever I close window with either C-x 0 or SPC-w-c, neotree folder structure closes for some reason. Not sure if this is a feature or a bug.

[2017-12-29 09:15] andyafter opened #312 "Built in guru does not find definition or references"
Not sure if there is any more set ups that needs to be done or if it is a bug. But I cannot goto definition or find referrers when using the guru configuration.

[2017-12-29 09:28] hlissner commented on #312
I assume you've read [the "Installation" section in the lang/go readme](https://github.com/hlissner/doom-emacs/tree/master/modules/lang/go#dependencies), and that you have go and the needed dependencies installed.

Please do the following:

+ Run `make doctor` on the command line and copy-paste its output here
+ Do you get any messages/errors when you run `M-x go-guru-definition` on a known functi

[2017-12-29 09:35] andyafter commented on #312
Yeah guru not found, Where do I set the GOPATH and stuff in DOOM though?

[2017-12-29 09:36] andyafter commented on #310
Yeah it is faster than Prelude and Spacemacs!!!!!!

[2017-12-29 09:42] andyafter commented on #312
Ok so I have guru and I have been using it with Prelude emacs for a while. I notice that when I start emacs with DOOM I have these in the buffer:

Error (doom-ui): Failed to set fonts because Font not available: #<font-spec nil nil Fira\ Mono nil nil nil nil nil 12 nil nil nil nil>
Warning (emacs): go-mode: couldn’t find goimports; no code formatting/fixed imports on save
Warning (emacs): go-mode:

[2017-12-29 09:48] hlissner commented on #312
You shouldn't have to do anything if your shell environment is properly configured, which, if it works with Prelude, sounds like it should be.

Doom is configured to pick up those settings, so something like this should be in your ~/.bashrc and ~/.bash_profile files (or ~/.zshrc and ~/.zshenv if you use zsh):

[code]

If you already have your shell properly configured, then I need more information

[2017-12-29 09:49] hlissner commented on #311
I'm unable to reproduce this. Please post the output of `make doctor` either here or in your other issue so I can get more insight into your Emacs environment. Also, a few more questions:

+ What command does `C-c 0` execute? (Run `M-x describe-key RET C-c 0` to find out) This binding is not in Doom and I am not aware of it.
+ Does this behavior produce any messages/errors? (`SPC h m` will pop up

[2017-12-29 09:55] hlissner commented on #310
Doom employs a few techniques to achieve its speed (as well as a ton of premature optimization). Here are some of its more important secrets:

+ The garbage collector eats up a lot of time during startup, so turn up its memory threshold:
[code]
  (Unrelated to GC, but I also temporarily unset `file-name-handler-alist`, which Emacs looks through every time it loads a file; this gives me a modest 90

[2017-12-29 10:02] andyafter commented on #312
[code]

[2017-12-29 10:11] hlissner commented on #312
Strange. Doom picks up your shell config and several potential go paths. I assume either `/Users/andy.pan/gopath/bin` or `/usr/local/go` is your GOPATH?

Are guru and your other go packages installed in one of those folders or elsewhere?

[2017-12-29 10:14] hlissner commented on #309
Alright, with the latest chain of updates this should be fixed. Give it a try and let me know if it gives you trouble!

[2017-12-29 10:17] hlissner commented on #308
What do you mean by "directory jumps"? Could you provide steps to reproduce?

[2017-12-29 10:20] andyafter commented on #312
Which shell config is it picking up though? Since I have .bashrc, .bashrc_profile, etc. But should all contain necessary information for prelude.

My GOPATH is ```/Users/andy.pan/gopath```, should I add ```bin``` to in too?

Also the evaluation result is ```nil```

[2017-12-29 13:09] amosbird commented on #308
Um, open dired-mode, entering a git repo that hasn't been tracked by projectile, and it remains untracked.

[2017-12-29 14:39] AloisJanicek commented on #310
This answer is perfect candidate for Doom's wiki - either under FAQ or under new page.
(I know that everyone can edit wiki, but feels little weird to add something that I don't entirely understand)

[2017-12-29 15:39] casouri commented on #310
Your answer is awesome!

[2017-12-29 15:39] #310 closed

[2017-12-29 17:51] amosbird opened #313 "+eval/buffer in emacs-lisp-mode doesn't eval the whole buffer"
HI, I'm not sure if this is the desired behavior. When doing `+eval/buffer` in elisp buffer, only the top first sexpr is evaluated. This is quite different from `eval-buffer`.

[2017-12-29 18:30] hlissner commented on #310
@AloisJanicek agreed! Actually, this was lifted (and paraphrased) from a draft for the wiki, so it'll be in there soon.

[2017-12-29 18:34] aminb commented on #309
Seems to be working great, thanks!

[2017-12-29 18:38] hlissner commented on #313
Found and fixed the issue. `+emacs-lisp-eval` wasn't wrapping the buffer's code in a `progn`, causing only the first form to be read. The fix is now in `develop`. I'll keep this open until it's in master.

[2017-12-29 18:49] amosbird opened #314 "Persp workspace modeline indicators"
Hi, I'm starting to use +workspace module to replace eyebrowser. However, it doesn't display any workspace info on the modeline, which is a bit inconvenient. I'd like to show the number and the related projectile name (or None) for each workspace. Is there a configuration for this feature?

[2017-12-29 19:24] amosbird commented on #314
Yup, I've noticed that it shows in the echo area. Can I customize it to be on the modeline? Also, it doesn't create new workspaces when I switch to a new project.

[2017-12-29 19:36] hlissner commented on #314
I suppose you could try putting the output of `(+workspace--tabline)` in the modeline, but I'm afraid there are few configuration options for feature/workspaces.

I'll look into this after New Years. There are many overdue improvements for feature/workspaces I need to do

It turns out counsel doesn't respect projectile's settings (like `projectile-switch-project-action`), which is what feature/wor

[2017-12-29 19:40] amosbird commented on #314
Great! And happy new year Henrik :fireworks:

[2017-12-29 19:53] hlissner commented on #312
No, your GOPATH and PATH are correct.

----

Do you use GUI Emacs or in the terminal?

----

Here is one possibility: Doom uses `exec-path-from-shell` to "grab" your shell environment variables on MacOS, but it does this in a non-interactive session. That means it won't read `~/.bash_profile`, only `~/.bash_rc` (it's read for all bash sessions).

If your PATH (and/or GOPATH) is set in bash_profile

[2017-12-29 21:28] aminb commented on #309
Hmm was there a change in the logic that handles closing of buffers/windows? I just noticed that doing `q` in `notmuch` doesn't close any of its buffers anymore. Same with doing `C-c C-k` in `notmuch-message-mode`, or `q` in `ibuffer` (and probably more).

[2017-12-29 21:36] hlissner commented on #309
What is `C-c C-k` bound to?

[2017-12-29 21:47] aminb commented on #309
Yeah, basically. it's bound to `message-kill-buffer` (from `message-mode`).

[2017-12-29 22:13] hlissner commented on #309
Turns out this is standard Emacs behavior. In most of these buffers `q` is bound to `quit-buffer`, which doesn't kill the contained buffer. I'm tempted to add something like:

[code]

In fact, I think I'll run with this for a while. It's rare that I _don't_ want the buffer killed with the window.

That said, I expect corner case issues, possibly with magit. If you're a magit user, could you give t

[2017-12-29 23:05] aminb commented on #309
Hmm, what is Emacs's standard behaviour?

Adding that `advice` doesn't seem to have any effects. I still can't close various `notmuch` buffers with `q` and `message-mode` with `C-c C-k`.

Also, I just tested and it seems like `magit-status` is unaffected by this issue. However, `ibuffer` is acting weird: before this issue appeared, it didn't have Doom's modeline, and pressing `q` would quit. With

[2017-12-30 06:33] hlissner commented on #308
Could you try

[code]

And let me know if that solves your issue? If so I will add it to core-projects.el.

[2017-12-30 06:47] fuxialexander opened #315 "How to install Org from github:bzg/org-mode using `package!` ?"
Seems the following does not work.
[code]

[2017-12-30 07:08] hlissner commented on #315
Because `org` already exists as a package built into Emacs, you'll need to use a different name for the package:

[code]

However, be warned. When you try to do `(require 'org)`, Emacs will pick up the built-in version first!  So you'll need something like this in the config.el file of your private module:

[code]

[2017-12-30 07:30] hlissner commented on #298
You mean when you use `doom/popup-toggle`? And you mean it becomes smaller each time you toggle it? Or it becomes smaller the first time and stays at its new size?

[2017-12-30 07:40] fuxialexander commented on #315
Thanks a lot! Finally got it work using the code below.

*packages.el*
[code]
*config.el*
[code]

[2017-12-30 07:40] #315 closed

[2017-12-30 07:45] amosbird commented on #298
Hi, it becomes smaller each time when toggling

[2017-12-30 08:25] hlissner commented on #315
No problem.

Just curious, why are you using bsg/org-mode? `lang/org` installs org-plus-contrib from emacsmirror and I'm wondering if there's a difference between the two.

[2017-12-30 09:10] fuxialexander commented on #315
It's several days or weeks ahead which is more bleeding edge. Recently I saw on twitter that a new [feature](https://github.com/bzg/org-mode/commit/8983ac917b1ca1b46697a5d27655e4ef71fa6537) was added to org-colview.el, and I'd like to try it out.

BTW, seems the code above does not fully works. It seems that Emacs are blending some code from the bundled / ELPA org with the git one. Anyway for now

[2017-12-31 06:03] amosbird commented on #308
Great. it works.

[2017-12-31 06:16] amosbird commented on #308
The `find-file-hook` the docstring says "List of functions to be called after a buffer is loaded from a file.", and looks like it doesn't run even with just `find-file' and with a directory.

[2017-12-31 16:10] hlissner commented on #308
Alright, fix is in `develop`. I'll leave this open until it's in `master`.

Yeah, if `find-file` encounters a directory, it runs through `find-directory-functions`, which hands the directory off to dired without running `find-file-hook`.

What's odd is that projectile has [this line](https://github.com/bbatsov/projectile/blob/master/projectile.el#L3954), which should address this exact problem. If

[2018-01-01 00:53] hlissner commented on #310
And [done](https://github.com/hlissner/doom-emacs/wiki/FAQ#how-is-dooms-startup-so-fast)!

[2018-01-01 21:34] hlissner commented on #309
That`q` runs `quit-window`, which doesn't kill buffers and only deletes the window.

That said, I'm looking into the `notmuch` issue. As for `ibuffer`, could you try:

[code]

This should make Doom's popup system handle ibuffer windows, which comes with the added benefit of buffer management (and removal of the mode-line) for its window.

[2018-01-02 00:54] andyafter commented on #312
M-x shell-command RET bash -ic 'which guru':
/Users/andy.pan/gopath/bin/guru

M-x shell-command RET which guru:
guru not found

[2018-01-02 01:17] hlissner commented on #312
Ah, I've found the issue.

Doom uses `exec-path-from-shell` to pull your environment variables out of your shell, but does so in a **non-interactive session** (as it should).

Bash only loads `~/.bashrc` in interactive sessions. Therefore, I suspect your PATH and GOPATH are being set up in this file.

To fix this, you must have something like this in your `~/.bash_profile`:

[code]

Or, simply mov

[2018-01-02 02:26] hlissner commented on #313
The fix is now in master.

[2018-01-02 02:26] #313 closed

[2018-01-02 02:26] hlissner commented on #308
The fix is now in master.

[2018-01-02 02:26] #308 closed

[2018-01-02 02:27] hlissner commented on #307
You're very welcome! The fix is now in master.

[2018-01-02 02:27] #307 closed

[2018-01-02 02:30] hlissner commented on #305
rtags is now integrated into Doom's master branch, so I'll consider this resolved. Let me know if the module gives you any trouble.

[2018-01-02 02:30] #305 closed

[2018-01-02 02:30] hlissner commented on #303
This is now in master.

[2018-01-02 02:30] #303 closed

[2018-01-02 02:31] hlissner commented on #301
This is now in master.

[2018-01-02 02:31] #301 closed

[2018-01-02 02:31] hlissner commented on #300
This is now back in master.

[2018-01-02 02:31] #300 closed

[2018-01-02 02:32] hlissner commented on #296
This is now in master. Feel free to reopen if your issue resurfaces.

[2018-01-02 02:32] #296 closed

[2018-01-02 02:32] hlissner commented on #295
This is now in master.

[2018-01-02 02:32] #295 closed

[2018-01-02 02:32] hlissner commented on #288
Alright, it's in master now. Feel free to reopen this if the issue resurfaces.

[2018-01-02 02:32] #288 closed

[2018-01-02 02:34] aminb commented on #309
Gotcha!

I just pulled latest `develop`, and the issues I had seem to be resolved! `ibuffer` now opens up in a popup (thanks to 8134c49e) and `q` closes it without any trouble. The only thing I want to figure out now is whether I can get `ibuffer` to open the chosen buffer in the existing window (replacing the buffer I was looking at) instead of opening it in a new window.

Also, my issues with `n

[2018-01-02 02:53] hlissner commented on #309
Wonderful!

I just pushed a little tweak to `develop`. You could try:

[code]

And this may get you the behavior you want. It won't open in a popup anymore, however (though, I may be able to manage this after I've done my planned rewrite of the popup management system).

That is certainly a bug, and it may be related to your weechat issues in your emails. I'll follow up on all this there.

---

An

[2018-01-02 02:53] #309 closed

[2018-01-02 03:30] aminb commented on #309
Yup, that does it! But I might stay with the current way and keep it as a popup for now, and hope that your rewrite would give best of both worlds :p

Sounds great, thanks!

[2018-01-02 03:57] andyafter commented on #312
That's wired since I tried both way and I already have everything setup in bashrc.  Let me check a bit.

[2018-01-02 03:58] andyafter commented on #311
Somehow it works for me well this morning.

[2018-01-02 03:58] #311 closed

[2018-01-02 04:17] andyafter commented on #312
Ok solved it by moving the GOPATH settings from ```.bashrc``` to ```.zshenv```.

There is a similar post in this https://github.com/syl20bnr/spacemacs/issues/3920
which brings out some issues about ```exec-path-from-shell```

[2018-01-02 04:17] #312 closed

[2018-01-02 08:31] andyafter opened #316 "Clean before executing shell commands"
When I execute functions **like** ```projectile grep```, ```guru find definition```, seems that the doom send it to the bash to execute, and it initialises everything from .bashrc or .zshenv.

 Here is the problem that I came to: I have a list of environment configurations that needs to be exported to the shell environment whenever I initialise my terminal, which contains a lot of exports, my ```.

[2018-01-02 09:16] andyafter opened #317 "cursor after Expand-region cancellation should be back to original position"
When I expand region in any more, after canceling with C-g, the cursor always stops at the beginning of the region. It should be in the original position so that whenever you regret about this expanded region you could just cancel and restart.

[2018-01-02 18:54] hlissner commented on #317
The fix is now in `develop`. I'll leave this open until it is in master.

How `expand-region` resets itself on `C-g` in vanilla Emacs is it advices all the quit commands (e.g. `keyboard-quit`, `minibuffer-keyboard-quit`, etc), but in Doom, `evil-escape` is bound to `C-g` in visual mode. There is no advice for `evil-escape`, so I added one.

[2018-01-02 19:17] hlissner commented on #316
Is `set +x` necessary to your config? I can't fathom how it is useful (besides debugging) and there is no simple way to comprehensively filter command output from within Emacs, without advising a lot of its shell library.

If that `set +x` _is_ somehow important, you could put it in your `.zshrc` (or `.bashrc`) instead of your `.zshenv`/`.bash_profile`, then you'll only see this output in interact

[2018-01-03 03:06] andyafter commented on #316
Ok not sure where does the set +x comes from but, the issue here is that, I believe it would be great if the output of any ```guru``` or ```prelude``` search should be displayed with only a list of results. I will checkout how prelude or spacemacs is handling this and get back to this issue.

[2018-01-03 05:43] andyafter opened #318 "Error message hint could be misplaced"
![screen shot 2018-01-03 at 1 41 44 pm](https://user-images.githubusercontent.com/3354145/34510110-f8b4845e-f08b-11e7-8a66-1b98ba303a12.png)
As shown in the picture, the error message could be misplaced from time to time.

[2018-01-03 17:34] UndeadKernel opened #319 "Package configuration errors are not shown when emacs starts"
When starting emacs with an error inside a (def-package!) config or init, the error will be deleted from the message log and will not be shown. Furthermore, the package itself will not be loaded. The user will not be told that there was an error or that the package failed to load.

To reproduce, insert
[code]
in, for example, modules/ui/doom/config.el at line 6, so that the file looks like this:
[

[2018-01-03 17:39] hlissner commented on #319
Could you check your buffer list and see if `*Warnings*` exists? It could be that the messages are being reported _but_ this window isn't properly being displayed.

[2018-01-03 17:43] UndeadKernel commented on #319
The errors do appear in the *Warnings* buffer. The window, as you assumed, is not displayed.
I also noticed that, due to only showing files of the same "perspective", the *Warnings* buffer is not easily accessible. I needed to run (list-buffers) to see that buffer.

[2018-01-03 18:11] hlissner commented on #319
I can't reproduce this on master or develop. I've pushed something that _could_ address this issue in develop however. Let's try a couple things:

+ Could you disable `:feature workspaces` to see if this fixes the warnings buffer?
+ Could you try the latest `develop` and see if that has fixed your problem?

[2018-01-04 04:21] andyafter opened #320 "go-guru-definition does not work on go import area"
When I jump the cursor to the import package name area and presses ```C-c C-o j```, it cannot jump to the package. It should be able to jump to the dired page of the package folder. As shown in the following image, it says ```no identifiers found```
<img width="508" alt="screen shot 2018-01-04 at 12 19 32 pm" src="https://user-images.githubusercontent.com/3354145/34550174-919b7534-f149-11e7-9498-7

[2018-01-04 07:51] dsdshcym opened #322 "counsel--git-dir was removed from counsel"
Sorry for not using the default issue template here.

I'm new to doom-emacs and thanks a lot for this great framework!

`counsel--git-dir` got removed from `counsel` in https://github.com/abo-abo/swiper/commit/4f57b5a9eb3f9c971d48fb33dca54af43bd497ca

`ivy/autoload/ivy.el` is using this function, so it may need some updates. https://github.com/hlissner/doom-emacs/blob/master/modules/completion/ivy

[2018-01-04 08:05] hlissner commented on #322
Not a problem. And you're very welcome! The issue was fixed by #321, and is now in develop. I'll leave this open once it hits master.

[2018-01-04 10:21] UndeadKernel commented on #319
I've tested the bug using a fresh version of DOOM emacs from the develop branch; I only copied init.el.example to init.el.

The bug is present, always reproducible: The warning buffer is not displayed when emacs starts (if there were errors in a module).

The latest version in the develop branch is still affected.

If I remove the "workspaces" module, the \*Warnings\* buffer **is** shown correctly

[2018-01-04 13:18] UndeadKernel opened #324 "UI Issue: Frames without borders (or modeline) blend between each other"
More than a bug, this is a report for a UI improvement.

To understand the issue, first open the list of open buffers (with` C-x C-b`) and then open the scratch buffer using `M-x  doom/open-scratch-buffer` (don't try using `SPC x`). The result will be that there are three windows, yet the bottom most window blends with the middle one. That is, it's difficult to distinguish where one window starts

[2018-01-04 14:20] fuxialexander commented on #287
@amosbird Could you check whether the value of `ivy-use-virtual-buffers` is set to `t`?
I encountered similar problem because `ivy-buffer-transformer` is not compatible with virtual buffers.

[2018-01-04 14:42] amosbird commented on #287
@fuxialexander it is. Lemme test if `(setq ivy-use-virtual-buffers nil)` fixes this. Thanks!

[2018-01-04 15:30] rphillips opened #325 "Terminal pane closing?"
### Observed behavior

I'm on the develop branch (73fa9ceab3471b161b1ebe5334520897407c27e0) and after opening the terminal (spc o t) then typing exit the split stays around. Trying to execute window commands within the defunct terminal elicits a `Current buffer has no process` error.

![screenshot from 2018-01-04 09-23-52](https://user-images.githubusercontent.com/1963/34570660-0deab87e-f132-11e7-

[2018-01-04 15:54] UndeadKernel opened #326 "Question: In the company-backend def-settings, why line 13?"
Hi @hlissner,

This is a question rather than an "issue".
I'm working on creating a LaTeX module that has many more additions than the one currently available. I stumbled upon an issue when configuring `company-auctex` using something like:
[code]
The company backend will not be set correctly; however, the function created by `set!` will correctly be hooked to `LaTeX-mode-hook`. Now (**brace for h

[2018-01-04 18:24] hlissner commented on #326
Yikes, what a mess!

That check prevents backends from bleeding into derivative modes. For instance, php-mode is derived from c-mode. I don't want my C backends active in PHP. Of course, I also assumed that major-modes would always have matching hooks! Haha.

Considering this is _very_ specific to auctex, it would be best to simply not use `:company-backend`. I will replace it with:

[code]

I'll

[2018-01-04 18:40] hlissner commented on #318
I have experienced this myself on MacOS. It seems to be an issue with `pos-tip` (the package `flycheck-pos-tip`) being unable to reliably determine the absolute, pixel coordinates of the Emacs window, which I have no control over.

But now that you bring this to my attention, I have discovered a possible alternative to `flycheck-pos-tip`: https://github.com/flycheck/flycheck-popup-tip, which appea

[2018-01-04 19:07] zeronone opened #327 "Make compile emits error."
### Observed behavior

Make install gives the error `Recursive 'require' for feature 'org'`.

`M-x org-version` gives `9.1.6-elpa`

### System information

I have also added the `("org" . "https://orgmode.org/elpa/")` package-archive.

<details>
<summary>Click to expand</summary>

[code]
</details>

[2018-01-04 19:11] exrok commented on #327
Having Same Issue also on Arch.

[2018-01-04 19:39] UndeadKernel commented on #326
I'm currently working on improving the latex module and adding some useful
things to it. If you'd like, I can make the changes that you'd implement
and include them in what I'm working on.

I plan to send you a pull request replacing the current latex module this
Monday. I'm taking into account the things that are already there and using
them as defaults.

I've taken a look at some of the TODOs th

[2018-01-04 19:39] zeronone commented on #327
@hlissner I commented it out, but it didn't fix it.

[2018-01-04 19:43] exrok commented on #327
Commenting out the line didn't seem to help. I tried to do a fresh install of doom and the following happens during the make install, perhaps related

[code]

[2018-01-04 19:46] zeronone commented on #327
@exrok I added the `("org" . "http://orgmode.org/elpa/")` to package-archives to fix that one.

[2018-01-04 19:48] hlissner commented on #326
Yes please, certainly! It has been a while since I've worked with Latex outside of org-mode, so lang/latex is quite neglected. It sure could use an update! Even better with those latex plugins!

[2018-01-04 19:59] exrok commented on #327
@zeronone  Thanks that fixed that problem. However the orignal problem still stands when compiling.

[2018-01-04 20:00] hlissner commented on #327
Odd. Neither of these fixes should be necessary. I think the underlying issue is that Doom is trying to install all these packages that _depend_ on org, _before installing `org-plus-contrib`_, which includes org 9.1.4. I will look into this.

[2018-01-04 20:54] hlissner commented on #327
Hey. I hadn't realized orgmode.com got https support. If you add `("org" . "https://orgmode.org/elpa/")` instead, does this resolve your issues? https support is pretty much the only reason Doom doesn't use it.

[2018-01-04 21:25] hlissner commented on #327
I've now added it in `develop`. I'll keep this open until it is in `master`.

[2018-01-04 21:27] hlissner commented on #326
Just an fyi, I've just pushed the proposed patch into `develop` along with a minor refactor to the lang/latex (just moved them around), so I'll consider the original issue resolved. I'll leave this open until it (and/or your proposed changes) hit `master`.

[2018-01-04 21:37] hlissner commented on #324
I've noticed this issue myself. With the upcoming rewrite of the popup system, I've tried mitigating it by being more conservative about when popups are allowed to stack like that (if ever).

However, there _is_ one readily available fix:

[code]

In `core/core-ui.el`, this is set to `0`, mostly because it looks better in all but cases like these. It is exactly what you're asking for though.

Chan

[2018-01-04 21:59] hlissner commented on #319
I just pushed a fix to `develop`. Check it out it and let me know if it definitively resolves this issue.

[2018-01-04 22:33] allforabit opened #328 "Error with autoloads"
I'm running into issues getting `make autoloads` to work on Windows. I know this isn't supported but I have been able to run this up to version 2.0.8 but not with 2.0.9 or develop. Is there something obvious that you think might have changed to make it stop working? The error I'm getting is:

`Error in autoloads.el: (nil nil ...) wrong-type-argument -- Wrong type argument: stringp, nil`

I have tr

[2018-01-04 22:58] hlissner commented on #328
It looks like some errant code made its way into your autoloads file. If `make` is throwing errors, try deleting `%EMACS.D%/.local/autoloads.el` and then running `make` again.

[2018-01-04 23:02] hlissner commented on #328
Oh, it just occurred to me you may not have easy access to a bash-esque terminal (or make), so here's an alternative (if you can get into Emacs): run `M-x eval-expression RET (delete-file doom-autoloads-file)` then `M-x doom//reload-autoloads`.

[2018-01-04 23:10] allforabit commented on #328
Thanks very much for the help. I actually do have bash style commandline and have access to make via msys64. I made sure to remove %EMACS.D%/.local/autoloads.el and reran make (and make autoloads) but to no avail. The only way I can get it to work again is to checkout the 2.0.8 tag (`git checkout tags/v2.0.8`).

If there isn't any obvious changes that you think would be affecting it, I will try a

[2018-01-05 07:26] zeronone commented on #327
@hlissner @exrok The problem still persists even with applying https://github.com/hlissner/doom-emacs/commit/2598d48bba46435249402693edacfe65f22bdb2f and https://github.com/hlissner/doom-emacs/commit/a29bc54c63ba87f147eff1a42564d85fc837e58c

I see that both `org` (dependency of `ox-reveal` and others ?) and `org-plus-contrib` is installed.

I tried installing `org-plus-contrib :files ("contrib/lis

[2018-01-05 08:31] zeronone commented on #327
Oh I am sorry, it didn't resolve the problem. I was mistaken.

[2018-01-05 09:08] hlissner commented on #325
I have pushed a number of updates to the popup system since that commit you referenced. Could you update and give it another try?

I am in the middle of a complete overhaul of the popup system, so I may be a day or two late addressing this specifically. With some luck, the new system will handle it right out of the box. I'll let you know.

[2018-01-05 09:10] hlissner commented on #328
I cannot think of any. But here are two things that could help me diagnose this:

1. Could you send me your autoloads.el file so I can examine it?
2. Can you run in Emacs in debug mode? This should hopefully evoke a backtrace at the point of the error. If it does, please include all of its output.

[2018-01-05 09:15] hlissner commented on #320
Odd. I can't tell if this is an issue with `go-guru` or Doom. If go-guru is working elsewhere in the buffer, I would imagine it's the former, but I'll look into this over the weekend.

[2018-01-05 09:23] andyafter commented on #320
Actually it works fine in Prelude. Also not sure what could go wrong.

[2018-01-05 09:25] hlissner commented on #316
I'm afraid this isn't an Emacs problem. Projectile grep, guru, etc. all communicate through shell commands. If your shell is incorrectly configured, you will get issues like these.

From what I can gather, there is an `set +x` or `set -o xtrace` in one of your dotfiles causing all this output that you must find and remove.

I'll close this issue since it isn't something that can be reliably solved

[2018-01-05 09:25] #316 closed

[2018-01-05 10:03] andyafter opened #329 "Key stroke design philosophy"
I am a heavy emacs user but recently I have decided to migrate all my configs to doom because it is awesome. Getting familiar with evil key stokes and the design did took about a week's time. The evil way does provide a much wider space for configuration of everything.

I have been using Prelude and tried Spacemacs a bit. But mostly Prelude because the structure is easier to understand and do dirt

[2018-01-05 11:47] allforabit commented on #328
There isn't much to the autoloads file but here it is:
[code]

Here's the output when I set `emacs --debug-init` in the makefile:
[code]

Thank you!

[2018-01-05 12:39] allforabit commented on #328
Here's the output `make autoloads` (with `--debug-init`) if the packages have already been downloaded:

[code]

[2018-01-05 14:32] exrok commented on #327
@zeronone  Your patch now has fixed the problem completely, `make compile` runs fine now. However, I think the patch breaks modularity since doom's org features are supposed to be toggleable, althougth I think org-mode is pretty core to Doom.

Before the patch if I ran `make compile-lang/org` it worked without the errors.  Also, before the patch, when running `make compile` that first weird error

[2018-01-05 18:10] hlissner commented on #328
In [core/core-packages.el line 570](https://github.com/hlissner/doom-emacs/blob/master/core/core-packages.el#L569), could you change the following:

[code]

Then try `make a` again and let me know if that resolves your issue.

[2018-01-05 18:18] hlissner commented on #327
@zeronone Could you try something else for me?

If you move that `when-let*` block back to `lang/org/config.el` and wrap it in `(eval-and-compile (when-let* ...))`, does that solve your issue?

[2018-01-05 18:31] allforabit commented on #328
Yes that worked perfectly, thank you! It's all working great now and I have the latest greatest doom at my fingertips. :-)

[2018-01-05 18:40] hlissner commented on #328
Curious though, is your autoload still empty after running `make a`?

[2018-01-05 18:41] hlissner commented on #327
Just pushed https://github.com/hlissner/doom-emacs/commit/bd1a83ec690da3191915b1b3719296870908e683 with that block wrapped in an `eval-and-compile` block (and put the wrong bug number in the commit, derp!). This _should_ resolve these issues.

[2018-01-05 18:55] allforabit commented on #328
No it is generating the autoload correctly. Here's the contents:
[code]

[2018-01-05 19:02] hlissner commented on #328
Phew! Good to hear. Then I'll consider this resolved.

---

On an unrelated note, if you have a lot of output to share in a github issue, you wrap them in:

[code]
And you'll get a nifty expandable (Sorry if you already know this!):

<details>
    <summary>Click here to expand</summary>

They put me in the oven to bake.
Me, a deprived and miserable cake.
Feeling the heat, I started to bubble.
Watc

[2018-01-05 19:09] allforabit commented on #328
Thanks didn't know that, very nifty!

[2018-01-05 19:20] hlissner commented on #329
That's awesome you decided to switch over! I understand how all-consuming that process can be (arguably _too_ well).

I understand your issue. Sorry to say much of Doom's keybinding scheme is a WIP, but here is what I am going for:

+ `SPC m t` = prefix for unit test commands
  + `SPC m t /` = open the unit test menu (what is currently bound to `SPC m t`)
  + `SPC m t .` = run single unit test at

[2018-01-05 19:48] hlissner commented on #318
I've added flycheck-popup-tip to `develop`. It will activate for MacOS users, reverting to `flycheck-pos-tip` for users on other platforms.

Please give it a try and let me know if it causes you any problems.

I'll leave this open until it hits `master`.

[2018-01-05 22:28] teesloane commented on #328
👋

I just did a bit of updating myself, and have run into an issue on the lastest version of `develop`. After running make clean, and make install, disabling my packages this appears on boot:

<img width="820" alt="image" src="https://user-images.githubusercontent.com/12987958/34631261-8a86ccb8-f23d-11e7-8a78-eb1ad3477f24.png">

@hlissner I noticed you mentioning in #325 that an overhaul of the po

[2018-01-05 22:31] hlissner commented on #328
@teesloane I am aware of this one and know what causes it (a few causes, actually). Instead of addressing it, I'm focusing on the new popup system, which will be up later tonight and will invalidate the issue altogether. Thanks for letting me know!

[2018-01-05 22:33] teesloane commented on #328
Awesome! I'm excited for the new release!

[2018-01-06 02:26] zeronone commented on #327
@hlissner It didn't resolve the issue for me. For reference I get the following error.

<details>
  <summary>Compile log</summary>

⚠ Ignored modules/lang/clojure/packages.el
Cannot load clojure-mode: (void-function org-link-set-parameters)
Cannot load clj-refactor: (error "Recursive ‘require’ for feature ‘org’")
Cannot load cider: (error "Recursive ‘require’ for feature ‘org’")
✓ Compiled modules

[2018-01-06 07:49] hlissner commented on #261
This is now done. It's still a WIP, and I expect a lot of edge cases to crop up, but the popup system is no longer part of core Doom, so I'll consider this resolved. I will close it once it hits `master`.

[2018-01-06 08:31] hlissner commented on #325
The overhaul of the popup system is now complete (in `develop`), which should resolve your issue. Give it a try and let me know.

[2018-01-06 09:04] hlissner commented on #327
Ah, silly me. I forgot there may be other packages that try to load org before lang/org is loaded (like cider).

Alright, new strategy. I've made it so `load-path` is modified _much_ earlier in the loading process. Let me know if that fixes the problem.

[2018-01-07 03:30] amosbird commented on #276
@hlissner Hello, the new popup feature hides the modeline aggresively.
Neither
[code]
nor
[code]
works

[2018-01-07 03:33] hlissner commented on #276
`doom-popup-mode-hook` doesn't exist anymore. You want:

[code]

Or, you can change the default modeline settings for all popups:

[code]

[2018-01-07 03:39] amosbird commented on #276
Hmm, it doesn't work. Where should I put those elisp?

[2018-01-07 05:22] hlissner commented on #276
In `private/$USER/config.el` (not in init.el, that's too soon).

Which one did you try?

Also, I've just pushed a bunch of updates to the popup module, so you should update first.

[2018-01-07 05:39] hlissner commented on #276
Btw, if you are testing with the scratch and messages buffer, there was a bug in ui/doom-modeline (fixed just now in https://github.com/hlissner/doom-emacs/commit/a5bb69cf6a73729d3192234f3be25ff09d3149c3) that caused them to not have a mode-line if you copied [this line that is in my private module](https://github.com/hlissner/doom-emacs-private/blob/master/init.el#L4) to yours.

[2018-01-07 05:40] amosbird commented on #276
Hmm, I tried both just now. Still not working.

[2018-01-07 05:55] amosbird commented on #276
Ah, removing  '(mode-line-format nil) fixes this :)

[2018-01-07 06:01] fuxialexander opened #330 "*Org Src not work (yet) in the new popup system"
### Observed behavior
![image](https://user-images.githubusercontent.com/8258908/34647143-631746a2-f3b5-11e7-9c98-0aea560636a5.png)
![image](https://user-images.githubusercontent.com/8258908/34647144-6c0625a8-f3b5-11e7-9d10-8f124ba012b9.png)
![image](https://user-images.githubusercontent.com/8258908/34647145-75d5244e-f3b5-11e7-9c62-f9cd95504c8f.png)

### Expected behavior
*Org Src buffer popup san

[2018-01-07 06:02] fuxialexander commented on #330
I guess you already aware of this issue, but anyway let me open it ;-)
I'll be glad to help if there is anything I can do 💪

[2018-01-07 06:03] zeronone commented on #327
@hlissner I did a fresh install from `develop` branch, but the issue still persists. I still get error in `clojure` as before.

[2018-01-07 06:06] hlissner commented on #324
Now that the new popup system is done, I've found a new solution to this problem: defining a special modeline that doesn't have the `bar` segment (which is what gives modelines their artificial vertical padding), and using that exclusively popups. For example:

[code]

Which produces something like ![this screenshot](https://i.snag.gy/oND0pP.jpg)

[2018-01-07 10:53] amosbird commented on #261
Hi @hlissner . I'm following the new popup document and add a new rule `(set! :popup "^\\*compilation" '((side . right) (size . 0.5)) '((transient . 0) (quit . t)))`. However it only affects the placement and size. `ESC/C-g` doesn't close the  window though. Am I doing it wrong?

[2018-01-07 10:58] hlissner commented on #330
You are correct, I was aware of the issue. Org is the biggest hurdle for this module. That said, I've pushed a few fixes to `develop` to improve org compatibility, including a fix to your Org Src buffer woes. I'll keep this open until it hits `master`. Let me know if it gives you any trouble.

[2018-01-07 11:01] hlissner commented on #327
Phew! Had me worried for a bit. Anyhow, I pushed https://github.com/hlissner/doom-emacs/commit/c0680e6fa30ad80fb91be520f20e98d56076e5a3 a while ago, which should further improve Doom's reliability with org. I'll consider this fixed for now, and will leave this open until it hits `master`.

[2018-01-07 11:06] hlissner commented on #298
Is this still an issue with the new popup system?

[2018-01-07 11:13] hlissner commented on #261
You are doing it correctly. However, the ESC key is remapped to something else in compilation-mode-map. Please try this and tell me if it works:

[code]

But <kbd>C-g</kbd> does not work for you either? That is strange. It is not overwritten and works for me in the compilation buffer.

[2018-01-07 11:19] amosbird commented on #261
nope. Neither `ESC` nor `C-g` works. and `(map! :map +popup-buffer-mode-map [escape] #'doom/escape)` doesn't help.

[2018-01-07 11:23] amosbird commented on #298
Hmm, `+popup/toggle` only brings up the `*Message*` buffer and doesn't toggle it. It also ignores other popup windows.

[2018-01-07 11:34] fuxialexander commented on #330
It works fantastically! Thanks a lot for your effort!

[2018-01-07 11:58] hlissner commented on #261
Aaaah! I just realized that the `window-parameters` alist entry in `display-buffer BUFFER ALIST` was introduced in Emacs **26**, which means window parameters (like `transient` and `quit`) won't work in 25.x! Haha.

I'll look into this further in the morning.

[2018-01-07 11:59] amosbird commented on #261
Great! thanks.

[2018-01-07 12:00] hlissner commented on #298
I've reverted a change that may have broken `+popup/toggle`, which _should_ resolve your issue. Please update and give it a try.

[2018-01-07 12:01] amosbird commented on #298
Thanks! It works fine now.

[2018-01-07 18:13] hlissner commented on #261
Alright, window parameters are now mapped manually (if using Emacs 25.x), which should fix your problem. Give it a try and let me know.

[2018-01-07 18:40] amosbird commented on #261
Thanks! It works fine now :)

[2018-01-07 23:03] rphillips commented on #325
Tried the latest develop... `exit` will close the terminal, but the split hangs around and opens a file buffer.

![image](https://user-images.githubusercontent.com/1963/34655283-a943c53a-f3cc-11e7-97b0-99691aab5562.png)

[2018-01-08 13:43] dsdshcym opened #331 "+ivy-buffer-transformer is not compatible with ivy-use-virtual-buffers"
I used to use ivy-switch-buffer to switch to recent files (with `ivy-use-virtual-buffers` set to `t`)

But `+ivy-buffer-transformer` is not compatible with this setting.

Maybe we can use [ivy-rich](https://github.com/Yevgnen/ivy-rich) to replace `+ivy-buffer-transformer`? It's basically doing the same thing (if my understanding is correct).

[2018-01-08 20:05] hlissner commented on #331
Yes, they are nearly the same, so I've brought ivy-rich to `develop` and built Doom's customizations on top of it, which fixes `ivy-use-virtual-buffer` compatibility.  I'll keep this open until it hits `master`

Doom simply greys out buffers that are special (`*Messages*`), virtual or in other projects.

[2018-01-09 09:15] zeronone opened #334 "doom/kill-this-buffer renamed?"
### Observed behavior

`develop` branch.

`SPC b k` is bound to `doom/kill-this-buffer` but it seemed to be renamed to `doom/kill-this-buffer-in-all-windows`. All occurrences should be replaced (?)

[2018-01-09 09:17] hlissner commented on #334
Whoops! I missed that one. Fix is now live in `develop`. I'll keep this open until it hits `master`.

[2018-01-09 09:36] zeronone opened #335 "evil-easymotion not being initialized ?"
### Observed behavior

In `develop` branch.

It seems that `evilem-default-keybindings` is not being run. Also the keybinding `SPC /` seems to be in conflict. I guess `SPC j` would be more suitable (?)

~I added `evilem-default-keybindings` to `def-package!` for `evil-easymotion` and also changed the keybinding prefix to `SPC j` in `modules/default`.~

Adding `:demand t` to `evil-easymotion` worke

[2018-01-09 14:17] UndeadKernel commented on #319
The \*Warnings\* buffer is not displayed correctly if the buffer exists when emacs starts.

[2018-01-09 14:17] #319 closed

[2018-01-09 17:25] UndeadKernel opened #337 "Are popups supposed to stack horizontally by default?"
### Observed behavior
In **develop** branch.
When opening multiple popups, e.g., view-lossage (C-h l) and view-echo-area-messages (C-h e), the two popups are open horizontally to each other. Is this expected behavior?

![popups1](https://user-images.githubusercontent.com/6165006/34733739-bf87cbd6-f569-11e7-98f3-caffe51edbca.png)

### Expected behavior

I would've expected that the popups would sta

[2018-01-09 18:39] hlissner commented on #337
This is the correct behavior of `display-buffer-in-side-window`. It is much more predictable (and controllable) than the previous implementation, but I agree, I'm not entirely sure if I like it either. I am looking into it.

[2018-01-09 21:53] hlissner commented on #337
Alright, here is something to try (in the latest `develop`; don't forget`make autoloads`!):

[code]

This enables an experimental display-buffer action that is closer to how `shackle` used to make popup windows. This behavior will allow popups to stack as you expect, but doesn't support `slot` yet, so there is no limit to how many popups can stack. Please give it a try and let me know if you come

[2018-01-09 22:04] UndeadKernel commented on #337
This explains why I was not able to properly use the popup system to change how magit displays buffers. In particular, I was trying to show  \*magit-log\* next to the main \*magit\* window using the *slots* system.

With the new popup system, how would you configure magit to display to the right side and choose which magit windows should stack instead of replacing the main magit window? I have not

[2018-01-09 22:53] hlissner commented on #337
Unfortunately, until I have implemented `slot` support into `+popup-display-buffer`, you can't achieve that level of control. With this system or the previous.

+ With `display-buffer-in-side-window` you can control whether a new popup replaces the old (popups with the same `slot` replace each other), or gets its own window next to the first (different `slot`s), but you _can't_ control how they st

[2018-01-09 23:56] adnaanm opened #338 "Can't Install"
I get

Attempt to load DOOM: failed
  (Cannot open load file No such file or directory async-autoloads)

when I do brew doctor =(

[2018-01-10 08:55] andyafter commented on #338
Which version of emacs?

[2018-01-10 09:24] hlissner commented on #338
This would suggest async isn't installed, however, async is a core package, meaning it ought to be installed after running _any_ make command. Doctor will not do this, it is merely a diagnostic tool.

So have you run `make install`? And if you try it again, does it give you any errors?

Also, please include everything in the output of `DEBUG=1 make doctor`. Preferably inside the following html (so

[2018-01-10 09:28] hlissner commented on #335
Not simply, but this is definitely a bug, caused because I haven't lazy-loaded evil-easymotion properly. I'll look into this this weekend.

[2018-01-10 10:16] dsdshcym opened #340 "Cannot load rejeep/git.el correctly"
### Observed behavior

When calling `org-page` (https://github.com/kelvinh/org-page) functions like `op/new-post`, a void function definition error was raised:

It seems that `org-page` depends on https://github.com/rejeep/git.el, but doom cannot load it correctly.

(May caused by `load-path` customization since there is a `git.el` file in site-lisp shipped with `git` installed by homebrew)

### S

[2018-01-10 14:57] vikigenius opened #341 "irony not being loaded correctly even after reloading autoloads"
---

### Observed behavior

CC mode autocompletion not working with void-function irony-mode error upon opening a c++ source file.

### Expected behavior
No irony-mode errors and auto completion should work

### Steps to reproduce

Just tried this in both develop and master:
1. Install doom-emacs as described in wiki.
2. Open a c++ file in a project which has compile_commands.json
3. Error message

[2018-01-11 03:51] hlissner commented on #340
This happens because Doom constructs its load-path with site-lisp paths first, then packages. Which it did for a small boost in startup speed (since considerably more site packages are loaded at startup than plugins). However, it imposes this very risk, of built-in package conflicts like these.

I've changed it in `develop` so that load-path is built in packages->site-lisp order to prevent issues

[2018-01-11 03:53] hlissner commented on #341
Turns out I forgot to add irony-mode to irony's :commands list when I wrote `+cc|init-irony-mode`. I've just added it to `develop` and will keep this issue open until it hits `master`.

[2018-01-11 03:55] dsdshcym commented on #340
Yes, it fixed the issue. Thanks a lot!

(And I do spot the 10% slower startup speed. But I think this is acceptable)

[2018-01-11 05:49] andyafter opened #343 "Brace should go one line further after pressing `Enter`"
When I have a pair of new Braces {|}, normally we press `Enter` to edit what should be in the braces. When I press `Enter` it turns out to be:
{
|}

which should be
{
    |
}

[2018-01-11 06:59] fuxialexander commented on #343
I think that's highly context-specific (in terms of languages / personal-preference / code types) and there will no solution for all. I think it should be done by user themselves.

You might want to Google `electric-layout-mode` and `c-toggle-auto-newline`

[2018-01-11 07:01] hlissner commented on #343
I have this configured [in my private module](https://github.com/hlissner/doom-emacs-private/blob/master/config.el#L21-L26) with the following:

[code]

I've left it out of Doom proper because it's personal preference.

[2018-01-11 07:40] fuxialexander opened #344 "`=Calendar` App?"
Not sure if anyone would be interested but the setup would be like this:
- Calfw is used for display the calendar
- org-gcal is used for sync with google calendar

Currently things are hacked together and two thing need to be resolved:
1. `(map!)` seems have no effect, probably due to the internal change of keymap in one of `calfw` 's function. The default keybinding of `calfw` is very vimmy, only

[2018-01-11 09:31] dsdshcym opened #345 "embrace-org-mode-hook is not called if org is loaded before evil-surround"
`embrace-org-mode-hook` was added in the `config` block for `evil-embrace`. See https://github.com/hlissner/doom-emacs/blob/471c68fc8a376ba1eae8ae8fe77c167fcdb65a23/modules/feature/evil/config.el#L199

But `evil-embrace` is loaded after `evil-surround`, which is loaded if its commands are called. Usually I load my org files right after I open my Emacs, which means `evil-surround` is not called yet

[2018-01-11 09:40] andyafter opened #346 "These packages cannot be found"
![screen shot 2018-01-11 at 5 39 42 pm](https://user-images.githubusercontent.com/3354145/34818682-8271ab2a-f6f6-11e7-94f8-6aea06f389cd.png)
As shown above, tried it twice but those packages seems not available.

[2018-01-11 11:22] vikigenius opened #347 "behavior of Switch Project on startup"
I am struggling to switch project on startup.
By default emacs always seems to be cd-ing into ~/.emacs.d  : I followed the issue on https://github.com/hlissner/doom-emacs/issues/309.

And according to it, it seems that doom is supposed to automatically cd into the root of the previous project you had open?

However, my dashboard always starts on ~/.emacs.d,

Even if i tried to execute the projecti

[2018-01-11 14:06] vikigenius commented on #305
The rtags integration is working fine, thanks a lot for this. However there seems to be an issue with the jump settings.

I saw in the code that you have bound the jump-definition and jump-references in c/c++ mode to rtags:
[code]
However this does not seem to be working and throws an error
`command-execute: Wrong type argument: commandp, +jump/definition`

[2018-01-11 15:56] rphillips commented on #347
I'm seeing this issue as well.

[2018-01-11 16:16] UndeadKernel commented on #337
Today I noticed a probably undesired side-effect of the **:ignore** popup flag:
When using the flag, an entry is added to **display-buffer-alist** that will take precedence over what a package might want to do with their buffers.

Take magit as an example. Without anything related to magit inside of **display-buffer-alist**, magit will open a small window on the bottom and manage its own windows.

[2018-01-11 16:28] fuxialexander commented on #337
@UndeadKernel For `magit`, I'm currently using the following settings and in my use cases i think it works fine. I'm not sure whether I missed something...
[code]

[2018-01-11 16:43] UndeadKernel commented on #337
Thank you @fuxialexander.
I almost converged exactly to your solution: I ended up with something similar to what you have. However, I don't believe the **slot** variable is working yet.

[2018-01-11 16:58] fuxialexander commented on #337
@UndeadKernel Well it's at least partially working, say if we change the `-1` in "^\\*Magit" rule to `0`, the magit-popup actually will replace the magit dashboard, while with a value of `-1` it actually doing well.
![image](https://user-images.githubusercontent.com/8258908/34836587-4b9977d0-f733-11e7-9618-b254635d3611.png)

Something I cannot make work is that when I have both the dashboard and a

[2018-01-11 17:40] hlissner commented on #347
I recently switched to a new mechanism for starting the dashboard (`(setq initial-buffer-choice #'+doom-dashboard)`), which inadvertantly re-initializes the dashboard (with a default pwd of `~/.emacs.d`) everytime a new frame (or workspace+project) is opened.

The fix is now up on `develop`. Let me know if it solves the issue.

I'll keep this open until it hits `master`.

[2018-01-11 18:18] hlissner commented on #305
You'll need to update. In https://github.com/hlissner/doom-emacs/commit/1371d341492c5b72e7c08365c1e55622e11b288d I replaced `feature/jump` with `feature/lookup`, and in https://github.com/hlissner/doom-emacs/commit/42cee2e046a909f7a9adde41e9aeb566cbdb61be I changed all references to the `:jump` setting across various lang modules, including lang/cc.

[2018-01-11 18:39] rphillips commented on #347
I tried the latest develop, and the behavior persists.

[2018-01-11 18:47] rphillips commented on #347
I can't find a wayland desktop recorder... If you need more steps to reproduce, just let me know.

[2018-01-12 10:14] vikigenius opened #349 "Update Emacs requirement in Documentation"
Some of the window functions you are using in develop for the popup management system
are not available in emacs 25. They seem to have been added in emacs26, maybe you can avoid those functions or at least maybe update the requirement in the docs for develop, so others won't face this issue?

[2018-01-12 11:54] jazzpi opened #351 "Module's init.el"
The [wiki on Modules](https://github.com/hlissner/doom-emacs/wiki/Modules#the-structure-of-a-module) states that an `init.el` file in a module will be automatically loaded. The [wiki on Configuration](https://github.com/hlissner/doom-emacs/wiki/Customization#keep-my-customizations-in-version-control) even recommends using this file.

But as far as I can tell, no module actually uses an `init.el` f

[2018-01-12 12:22] jazzpi opened #352 "Multiple doom! calls aren't really possible"
### Observed behavior

After moving the `doom!` call in `init.el` to a private module and replacing it with `(doom! :private jazzpi)`, Emacs complains with

[code]

### Expected behavior

Emacs shouldn't recursively load my private module

### Steps to reproduce

1. Follow [the wiki](https://github.com/hlissner/doom-emacs/wiki/Customization#keep-my-customizations-in-version-control), except puttin

[2018-01-12 12:43] UndeadKernel commented on #349
I have also experienced this same problem.
With the latest commits in develop, all window display functions are broken.

I'm using Arch with emacs 25.3-2 (the current stable version in arch).

[2018-01-12 13:21] vikigenius commented on #349
@UndeadKernel I checked the emacs repo and git blame reveals that those functions were indeed added after emacs 26, so i switched to emacs-snapshot, and the window functions are fixed.

I will probably wait for this to be fixed and then switch back to stable emacs, Emacs snapshots do tend to give problems from time to time.

[2018-01-12 14:45] UndeadKernel opened #353 "Inconsistent startup benchmark time"
### Observed behavior

When DOOM emacs starts, it displays a small benchmark stating how much time was spent during initializatipon. If running emacs directly, the result is different than when running emacs using `make run`.

### Expected behavior

Shouldn't the benchmark report the same time regardless of these commands?
1. `emacs`
2. `make run` (`emacs -q -l init.el)

### System information

<d

[2018-01-12 16:39] UndeadKernel opened #354 "Dealing with non-popup buffers with names that start with an asterisk"
Many packages create buffers that are not associated to a file. Most of these buffers have names that start with an asterisk. It is often not desirable to associate these buffers with the functionality that goes on top of *popups*. More specifically, sometimes it is not desirable to have some buffer with a name that starts with an asterisk assigned the minor mode **+Popup**. This mode changes some

[2018-01-12 19:34] hlissner commented on #344
Very cool. I am certainly interested. Could you make a PR for it, or do you have the code up somewhere I can see?

[2018-01-12 19:37] hlissner commented on #346
This issue is a duplicate of #327, but should have been fixed. Have you a) updated Doom to the latest `develop` and b) re-byte-compiled (if you have at all)?

[2018-01-12 20:04] hlissner commented on #351
As of https://github.com/hlissner/doom-emacs/commit/2b98e550e8b85d760a9cac172dcf4d6c3c307361 none of Doom's built-in modules have an `init.el`, but the wiki is not outdated (here, at least).

That said, a module's init.el file should be loaded *if* that module is enabled. e.g. you have `:private jazzpi` in your `doom!` block in ~/.emacs.d/init.el. Is that not the case for you?

If not, have you by

[2018-01-12 20:12] hlissner commented on #349
You're correct. However, I'd like to retain Emacs 25.x compatibility so I've polyfilled the necessary function calls. Give it a try and let me know if you get anymore errors.

[2018-01-12 20:14] hlissner commented on #352
You're right! I've pushed a fix, so recursive `doom!` calls should work now. Give it a try and let me know!

[2018-01-12 23:28] vikigenius commented on #349
Some of the variables are undefined as well. The `window-sides-reversed` variable also seems to be added post emacs26.

[2018-01-13 00:22] hlissner commented on #352
Just noticed a couple regressions that this causes. Back to the drawing board!

[2018-01-13 01:29] hlissner commented on #354
I agree. In fact, I'd like to fix `:ignore` to do what you suggest `:disable` do. That is its intention. I may have to abstract something over `display-buffer-alist` to pull it off properly. I'm looking into it.

[2018-01-13 01:57] fuxialexander commented on #344
Sure. I’m currently trying to cleaning it a bit, after that I’ll make a PR

[2018-01-13 10:06] zeronone opened #356 "Flycheck not working ?"
### Observed behavior

Flycheck doesn't seem to be working (I tested in Rust). `flycheck-verify-setup` gave the following:

`pkg-info` is installed in `.local/packages/elpa/pkg-info-20150517.443`
`flycheck` is installed in `.local/packages/elpa/flycheck-20171214.1215`
`flycheck-rust` is installed in `.local/packages/elpa/flycheck-rust-20170404.842`

[code]

### System information

<details>
<summa

[2018-01-13 13:41] fuxialexander opened #357 "Typo in popup rule for neotree?"
https://github.com/hlissner/doom-emacs/blob/87856642674d8c34be94993df02f0f5fa24df9dd/modules/tools/neotree/config.el#L37

Shouldn't that be `window-width`?

[2018-01-13 20:13] hlissner commented on #357
Whoops! Good catch. Though, that should be `size` instead. Fixed!

[2018-01-13 20:14] #357 closed

[2018-01-13 20:16] hlissner commented on #356
Ah, I removed an autoload from feature/syntax-checker in https://github.com/hlissner/doom-emacs/commit/065091bdcab141601ba72dd1d49c137263b0f73e#diff-85f791b361778f2be99fdcf6e72c7551 thinking this was no longer an issue anymore. Guess I was wrong!

The fix is back on `develop`. Feel free to reopen this if it doesn't solve your problem.

[2018-01-13 20:16] #356 closed

[2018-01-13 20:19] hlissner commented on #353
This happens because I use `after-init-time` and `before-init-time` to do the calculation. These are wrong when you load `init.el` _after_ initialization, as is the case with `emacs -q -l init.el`.

So I've changed it to grab the current time as soon as it displays the benchmark. This makes benchmarks for `make run` much more accurate, but the extra overhead of loading init.el post-init will likel

[2018-01-13 20:23] hlissner commented on #352
Alright, I've worked out a new method of pulling this off, instead of nested `doom!` calls, you'd do:

[code]

This has been working great for me. Give it a try and let me know.

[2018-01-13 20:31] hlissner commented on #345
I've moved the hooks to :init, and added autoloads for `embrace-add-pair` and`embrace-add-pair-regexp`, which should resolve this. Let me know if it doesn't!

[2018-01-13 23:10] vikigenius opened #358 "Way to specify flycheck checker and integration with virtual environments in python"
Is there any plan to provide integration with python virtual environments like conda environments or virtualenvs?

For now, is there a way to set the flycheck checker executable to avoid errors arising from virtual environments?

When i try to set the executable manually, i am getting void function errors for `pkg-info-version-info"` declared in flycheck.

[2018-01-14 06:38] hlissner commented on #358
The `pkg-info-version-info` should be fixed as of https://github.com/hlissner/doom-emacs/commit/b741d77e7897707a8739f2eae6b0ba083c5a0fad.

However, I'm not entirely sure what integration for virtualenv/conda would entail, since I don't use them (I've always used pyenv). I'm interested in learning more about conda, so I'd appreciate any insight you can give me.

[2018-01-14 07:25] vikigenius commented on #358
I am working on it. I use conda mainly because it is the best there is for scientific packages and can install packages without any hassle and doesn't require compiling at all, just binaries. I work a lot in ML and Data Analysis and it's a god send for me. The virtual environments are just an added bonus.

There is already an existing package [conda.el](https://github.com/necaris/conda.el) which d

[2018-01-14 07:41] vikigenius commented on #358
Expanding on conda, it is basically a package manager, that is included with the anaconda distribution. It's virtual environment basically combines the functionality of pip and virtualenvs.

Conda environments provide a great way to completely isolate your project environment from your system, and conda is crucial here because it can also install system dependencies when you install a package with

[2018-01-14 15:20] dsdshcym commented on #345
It worked as expected! Thanks!

[2018-01-15 02:36] hlissner commented on #337
@UndeadKernel After more testing, this doesn't seem to be true. Yes, the new magit entry takes precedence, but since its cdr is nil, `display-buffer` should fall back to other defaults. To quote its documentation:

When I use `(set! :popup "^\\*magit" :ignore)`, magit manages its windows just fine to me, on 25.3, 26.1 and 27.0. In fact, [this rule is already in `feature/version-control`](https://g

[2018-01-15 02:55] fuxialexander commented on #337
@hlissner Yes the vslot works fine. And actually the appearance of dispatch popup in the middle is not the fault of `slot`, the popup just alway appear below the main panel.

![image](https://user-images.githubusercontent.com/8258908/34925169-972eae16-f9e2-11e7-87ce-24b045660d28.png)

[2018-01-15 03:09] fuxialexander commented on #358
@vikigenius I just set up `conda.el` and `lsp-python` yesterday, and so far I like it. In order to avoid the hook of switch-buffer, I think you can just turn off `conda-env-autoactivate-mode`, which is just a minor mode that set hook to `switch-buffer`. You can also rewrite the minor mode to hook it not to switch-buffer, but to other function.

[2018-01-15 05:09] hlissner commented on #335
And done! The fix is now in `develop`. I'll keep this open until it hits `master`.

[2018-01-15 07:54] vikigenius commented on #358
@fuxialexander , what function do you suggest, hooking it with. I like the functionality of auto activating environments based on the environment.yml files.

And how good is lsp-python? I have heard about the language server protocol project. And it sounds similar to what google is doing with kythe, but kythe itself is not really in a good stage right now.
So how good is Microsoft's LSP and how do

[2018-01-15 11:49] UndeadKernel commented on #353
The fix is working as expected.

Out of curiosity. What's your startup time? Mein would be:
1. No complication   - ~1.4s
2. With Compilation - ~1.2s

[2018-01-15 17:54] aminb opened #361 "Recent performance hit in develop ?"
It seems like there might have been a performance hit to Doom's startup time some time in the last week or two. On my laptop the reported Doom startup time used to be about `0.5`-`0.6` seconds, whereas recently it's gone up to `1.0`-`1.3` seconds, and I think it does feel slower. I haven't kept an eye `develop` recently so I'm not sure about the cause.

P.S. also just noticed that the startup time

[2018-01-15 19:10] hlissner commented on #361
Three things have happened recently:

1. I've made the benchmark less naive and more accurate by taking more of startup into account in https://github.com/hlissner/doom-emacs/commit/47d15fdf8ac6db00d10eb53e375e2fd430c6ed63 (#353) -- no actual performance is lost, but the reported time is ~40-50% slower.
2. I undid a `load-path` performance optimization in https://github.com/hlissner/doom-emacs/com

[2018-01-15 19:37] hlissner commented on #353
On average, aboot this fast:

|            | desktop (beefy i7 w/ ssd's; Arch)  |  old toaster (2009 Core-2 Duo macbook pro) |
|----------|-------|------|
| No compile | ~0.97s | ~3.64s |
| `make compile-core` | ~0.79s | ~2.88s |
| `make compile` | ~0.71s | ~2.7s |

So far, it seems, you get most of the benefit from:

[code]

[2018-01-15 21:05] aminb commented on #361
Ah gotcha! It seems like I noticed a combination of all three :P (but mostly 1 I guess). Thanks for clarifying that.

Great! Looking forward to it.

[2018-01-15 22:05] hlissner commented on #358
@vikigenius Doom avoids calling `package-initialize` when byte-compiled (mostly for performance reasons), which would otherwise have loaded package autoload files, like flycheck's, where an autoload declaration for `pkg-info-version-info` exists.

Since I prefer declaring autoloads myself and this decision only truly affects a few plugins (haskell-mode, auctex and flycheck), I accept that compromi

[2018-01-16 13:51] missy187 opened #362 "Miss"
Here are some things you should try before filing a bug report:

+ Run `make install` to ensure all plugins are installed.
+ `void-function` or `void-variable` errors could signal an out-of-date autoloads file. Run `make autoloads` or `M-x doom//reload-autoloads` to update it.
+ Scan for common OS/environment issues with `make doctor`.
+ Never debug byte-compiled code. It will interfere in subtle

[2018-01-16 21:03] #362 closed

[2018-01-17 03:28] dsdshcym commented on #345
Sorry but I still found `evil-embrace` is not working as expected with `org-mode`

I did some investigation and found that replacing `:after evil-surround` with a `after!` can solve this issue:
[code]

[2018-01-17 10:00] andyafter opened #363 "How do I check a shortcut for a function?"
As the question states.

[2018-01-17 10:04] hlissner commented on #363
I'm afraid I don't understand the question. What do you mean by "check"? And by "shortcut for a function" do you mean an alias?

[2018-01-17 10:06] fuxialexander commented on #363
@andyafter I think by default `counsel-M-x` list the keybinding for function.
![image](https://user-images.githubusercontent.com/8258908/35037013-0e75581a-fbb1-11e7-83e3-57497181b63e.png)

If you mean check what function a key is assigned to, use `describe-key` or `helpful-key` (if you have `helpful` installed).

[2018-01-18 03:15] andyafter commented on #363
@fuxialexander @hlissner the picture above is what I have been using. Ok problem is that most of the key bindings is now shown in the drop down list. Here is an example:

![screen shot 2018-01-18 at 11 13 00 am](https://user-images.githubusercontent.com/3354145/35079141-a2a9dbb6-fc40-11e7-914d-db36c86c3b02.png)

In the picture expand region does not have any bindings shown.

But turns out expand r

[2018-01-18 03:19] andyafter opened #365 "Expand region skips some levels of expanding"
When I expand region it always skips some region levels and go right up to the next level. Here is an example:

When I expand to the brackets of a if statement:
![screen shot 2018-01-18 at 11 16 06 am](https://user-images.githubusercontent.com/3354145/35079237-2f044010-fc41-11e7-8d67-38baafcdabf5.png)

if I expand again here is what will happen:

![screen shot 2018-01-18 at 11 16 19 am](https://us

[2018-01-18 03:40] fuxialexander commented on #363
@andyafter It's not missing keybindings. What happened here is because keybindings have "states" (or domains if you like) which are called `keymaps`. For example if you first press `v`, then `M-x expand`, you will find that the bindings is shown.
![image](https://user-images.githubusercontent.com/8258908/35079578-6c44cab0-fc43-11e7-8f68-31a2bf00aa35.png)

That's because by default you are in `evil

[2018-01-18 04:38] Paramonov77 opened #366 "https://legalrc.com/members/rrrrrrrrrrrrrr.661355/"
Here are some things you should try before filing a bug report:

+ Run `make install` to ensure all plugins are installed.
+ `void-function` or `void-variable` errors could signal an out-of-date autoloads file. Run `make autoloads` or `M-x doom//reload-autoloads` to update it.
+ Scan for common OS/environment issues with `make doctor`.
+ Never debug byte-compiled code. It will interfere in subtle

[2018-01-18 06:03] #366 closed

[2018-01-18 06:40] andyafter commented on #363
Actually I have been reading +bindings.el for a while and most of the time I have specific function name in mind. Do you think it would be a good idea to just put the keybinding in the function description mode? Or at least the key map information?

[2018-01-18 10:05] andyafter opened #367 "goto definition is kinda slow"
go-guru-definition is slower than before after I updated the repo to the newest version. It used to be instant.

[2018-01-19 02:49] #346 closed

[2018-01-19 03:58] andyafter commented on #317
@hlissner Hi there, not sure if this is released but the cursor place still doesn't go back to original position after the cancellation.

[2018-01-19 04:03] #367 closed

[2018-01-19 04:03] hlissner commented on #367
Did you resolve this issue? I was going to look into it this weekend otherwise.

[2018-01-19 13:56] igorvolnyi commented on #327
Make gives:
Looking for packages to install...
5 packages will be installed:

+ ob-mongo (ELPA)
+ ob-redis (ELPA)
+ ob-translate (ELPA)
+ ox-pandoc (ELPA)
+ ox-reveal (ELPA)

Proceed? (y or n) y
Refreshing package archives
Importing package-keyring.gpg...
Importing package-keyring.gpg...done
Contacting host: elpa.gnu.org:443
Contacting host: elpa.gnu.org:443
Contacting host: melpa.org:443
Package

[2018-01-20 09:10] igorvolnyi opened #368 "Doom-emacs uses unsupported and as a consequence uninstallable packages"
Generally 'make install' finishes OK failing to install 5 packages. Just repeat 'make' command.

Make gives:
Looking for packages to install...
5 packages will be installed:

\+ ob-mongo (ELPA)
\+ ob-redis (ELPA)
\+ ob-translate (ELPA)
\+ ox-pandoc (ELPA)
\+ ox-reveal (ELPA)

Proceed? (y or n) y
Refreshing package archives
Importing package-keyring.gpg...
Importing package-keyring.gpg...done
Conta

[2018-01-20 21:36] s8v opened #369 "Not working autocompletion in python-mode"
### Observed behavior
I have in the settings
[code]

When I open *.py autocompletion not working.
![2018-01-21 0 28 42](https://user-images.githubusercontent.com/3066456/35188189-4acb1e42-fe42-11e7-9b04-81b9f01de8a5.png)

### Expected behaviour
Autocompletion works when I open the file the first time.
![2018-01-21 0 28 58](https://user-images.githubusercontent.com/3066456/35188188-4ab0ea54-fe42-11

[2018-01-20 23:13] hlissner commented on #368
Are you the `develop` or `master` branch?

This issue was fixed on `develop` fairly recently, and should make its way into `master` next weekend.

[2018-01-21 03:41] hlissner commented on #338
I'm closing this due to inactivity. If the issue persists, feel free to reopen this.

[2018-01-21 03:41] #338 closed

[2018-01-21 03:42] hlissner commented on #343
I'll mention this in the FAQ soon and, perhaps, incorporate some (not all) of this into private/default. For the time being, since I consider this personal preference, I'll consider this issue resolved.

[2018-01-21 03:42] #343 closed

[2018-01-21 04:02] hlissner commented on #363
I think the best way to address this is to incorporate [helpful](https://github.com/Wilfred/helpful), which provides a superior alternative to `describe-*` commands. `M-x helpful-callable RET er/expand-region` will list all its keybinds, even in evil keymaps. Its predecessors cannot.

I've been meaning to do this anyhow. I'll keep you posted.

[2018-01-21 04:09] hlissner commented on #365
Unfortunately, I don't think its possible to make it consistent, without some hefty effort. [expand-region](https://github.com/magnars/expand-region.el) has its own rules, even special ones for certain major modes. It doesn't appear to have specific integration with go-mode though.

Would it make sense to rebind `er/expand-region` to `go-guru-expand-region` in go-mode buffers, at least?

[2018-01-21 04:10] Lubricy commented on #352
just tried out `(require! :private my-module)` approach in develop, and get following errors:

[code]
<details>
<summary>DEBUG=1 make doctor reports:</summary>
<pre><code>
[1mDOOM Doctor[0m
Running Emacs v[1m25.3.1[0m, commit 2c1867caf16dcabc9f73a2feab2fb9fd43ebcb88

shell: /bin/zsh
Compiled with:
  NOTIFY ACL GNUTLS LIBXML2 ZLIB TOOLKIT_SCROLL_BARS NS
uname -a:
  Darwin liweijiandeMacBook-Air

[2018-01-21 04:42] Lubricy commented on #352
okay rename/remove `.local` and `make` from fresh solves the problem. however i'm still wondering if it is the right/necessary thing to do after switching branches? How can I keep my installed packages without download them again?

[2018-01-21 06:19] Lubricy commented on #352
another thing to note, when using `require!` instead of `doom!`, `package!` & `use-package` declarations in that private module are not going to be detected and install properly by `make`.

[2018-01-21 07:51] hlissner commented on #317
@andyafter i believe this is a recent regression caused by the introduction of doom/escape. I’ll look into this soon.

[2018-01-21 14:37] fuxialexander commented on #363
@hlissner I wasn't aware that helpful-callable actually list the map and keybindings! Thanks for the information!

Not sure whether it will be helpful or not, but here are my current immature `helpful` config:
[code]

[2018-01-21 21:45] hlissner commented on #344
Closing this, now that it's in `develop`.

[2018-01-21 21:45] #344 closed

[2018-01-23 06:24] igorvolnyi commented on #368
Good. Not critical, so can be waited for.
By the way where to ask questions to make doom-emacs' FAQ bigger?

[2018-01-23 06:31] igorvolnyi commented on #363
I think there should be a dedicated wiki page about doom-emacs key bindings and their corresponding vanilla emacs counterparts.

[2018-01-23 19:31] AloisJanicek opened #370 "DND attach produces file link pointing to non-existen attach-dir location (up one dir level)"
### Observed behavior

DND into org buffer produces file link which always points to `+org-attach-dir` as it would be placed in directory of one level up. For example DND of `test.mp3` file into buffer representing content of file `~/work/org/test.org` produces link in form of `[[./../.attach/test.mp3]]` which points to `~/work/.attach/` directory, but file is actually saved (correctly) in `~/work

[2018-01-24 07:19] hlissner commented on #368
At the moment, they come from questions [emailed to me](mailto:henrik@lissner.net) or asked in issues here. Feel free to open an issue just to ask questions, but if you have many questions to ask I'd prefer them by email!

[2018-01-24 07:22] hlissner commented on #370
Found the issue and fixed it (in `develop`). Let me know that it's behaving as expected now.

Thanks for letting me know!

[2018-01-24 07:46] hlissner commented on #363
And done. helpful is now in `develop`. You can try `SPC h f er/expand-region RET`, which will open a *helpful* buffer with a list of keybindings, among other things. In this case: `evil-visual-state-map v`. I hope that makes it easier to hunt down keybinds.

@fuxialexander Thanks for the config, it was a big help!

@igorvolnyi I hear you. The documentation needs a _lot_ of work. Starting with a RE

[2018-01-24 08:17] hlissner commented on #369
Found the issue and fixed it in `develop`. I'll keep this open until it hits `master`. Thanks for letting me know!

[2018-01-24 09:58] igorvolnyi opened #371 "Doom-emacs ignores files and current directory when launched from command line"
When I launch (doom-)emacs from command line being in some directory, for instance:
$ cd ~/tmp/emacs
$ emacs test.el
emacs ignores both the directory (:!pwd gives ~/.emacs.d/) and the file (instead I see splash screen with the start menu).
I understand that doom-emacs is a very "opinionated" guy, but... Don't you think that violating even the man page is a bit too much?

[2018-01-24 10:03] UndeadKernel commented on #371
Hi @igorvolnyi.
I'm using the develop branch and I do not see this behavior you describe.
Could you try and see if this issue of yours is also present in the **develop** branch?

[2018-01-24 10:30] AloisJanicek commented on #370
Works fine now, behaving as expected.
I tested it also with my private module and there are no issues.
Many thanks as always for your quick reaction!

[2018-01-24 12:27] igorvolnyi opened #372 "Documentation should be clarified (Customization, FAQ)"
1. Not clear where to put the recommended code

On the Customization wiki page there is a sentence:

Should be more exact:

2. For doom-emacs beginners

The last line is confusing:

3. Not for all doom emacsers it is clear that much valuable information can be found in Issues (both closed and open)

This discussion #241 "Understanding how to efficiently setup packages." should be included into the

[2018-01-24 12:37] igorvolnyi commented on #371
Yup. Develop branch has this issue solved.
Maybe it's worth to commit bug fixes to master more frequently so issues do not stay unresolved so long?

[2018-01-25 09:14] hlissner commented on #371
I hear you. I already intend to adopt a more frequent minor release cycle after 2.1, but what Doom would really benefit from is a more disciplined commit workflow that I've had swimming around in my head, but never entirely committed to. I'll work on that!

In any case, I'll leave this open once the fix is in `master`.

[2018-01-25 09:18] hlissner commented on #372
Thank you for this detailed write up! The documentation certainly needs a lot of work, and this has given me plenty of ideas on where to start. I'll keep you posted on my progress here.

[2018-01-25 09:20] hlissner commented on #347
@rphillips I've made a few big changes on `develop` to the dashboard behind the scenes. Has it resolved this issue for you?

[2018-01-25 09:26] andyafter commented on #365
Actually that's the interesting part. er/expand-region and go-guru-expand-region skips levels differently. go-guru-expand-region skips levels within a pair of quotes:
"here is something"
All content within quotes will be selected directly.

I will take a look later.

[2018-01-25 14:08] rphillips commented on #347
it switches directories for me now correctly. The find file doesn't pop up automatically anymore - I felt that was nice. Thank you!

[2018-01-25 22:09] hlissner commented on #347
As did I. It had to go, temporarily, to accommodate recent changes. I'll put it back in once I've figured out a good way to do so.

[2018-01-26 02:54] andyafter opened #373 "No Slack or Gitter Channel in this repo"
I think we should have one.

[2018-01-26 04:01] andyafter commented on #320
godef-jump works fine however.

[2018-01-26 05:25] rgrinberg opened #374 "Consider using straight as the package manager"
I'm currently a user of spacemacs, but spacemacs is quite heavy, buggy, and contains lots of cruft I will never use. The layer system in particular is a bit of a nightmare.

But my biggest complaint with spacemacs is that it doesn't use https://github.com/raxod502/straight.el/. I'd really like to use straight as my package manager because I want to use lock files to secure my configuration against

[2018-01-26 06:17] hlissner commented on #374
I hear that. I already have straight.el in my crosshairs, as well as a local branch with straight.el integration. However, I'm waiting on some key features promised for the v1.0 release before I can move forward with it. I'll keep this issue open and keep you posted.

[2018-01-26 06:32] hlissner commented on #373
How about Discord? I already run a couple servers and am most available on it.

[2018-01-26 09:11] andyafter commented on #373
yeah that should also be cool!!!

[2018-01-26 11:57] amosbird commented on #373
Please also consider setting up an IRC channel :)

[2018-01-26 12:03] amosbird opened #375 "+ivy/wgrep never applies changes."
### Observed behavior

`+ivy/wgrep` never applies changes.

https://la.wentropy.com/scPs.webm

### Expected behavior

`+ivy/wgrep` applies changes.

### Steps to reproduce

[code]

invoke `swiper`, `C-c o`, do some modifications, `C-c C-c`

### System information

<details>
<summary>Click to expand</summary>

[code]

</details>

[2018-01-26 12:31] ocharles commented on #373
Please use one or the other. I actually don't see a need for any channel
personally, and just watch this repo - but the last thing I want is
communication spread over 3 channels.

On Fri, Jan 26, 2018 at 11:57 AM, Amos Bird <notifications@github.com>
wrote:

[2018-01-26 21:47] UndeadKernel commented on #373
I think having a Discord would be great for the development of Doom.
There are many questions that I haven't asked because I don't believe they deserve an "Issue".
With a DIscord, people could with similar package interests can coordinate to create or extend them. You are not alone Mr. @hlissner .

[2018-01-27 04:52] hlissner commented on #373
Alright, Discord it is: https://discord.gg/bcZ6P3y Hop on and say hi!

I'll add a badge to the project readme soon. I'll leave this open until I have (and it's in `master`).

@amosbird Sorry, I like IRC, but Discord is a much more attractive option to me, and (to parrot @ocharles) I'd like comms split up as little as possible.

[2018-01-27 06:51] amosbird commented on #373
That's fine. Discord seems a decent option :)

[2018-01-27 17:02] smythp commented on #373
Just want to throw in that Discord isn't currently accessible to people with disabilities.

[2018-01-27 19:24] tasmo commented on #221
@hlissner I have the same problem again but have installed it already.

`type mu` gives the right path back.

In Spacemacs I had to set:

[code]

In Doom Emacs this does not work. When I try to start app/email i get:
`=email: Cannot open load file: Not a directory, mu4e`

[2018-01-28 03:15] hlissner commented on #373
@smythp That sucks. Is that also true for Discord's web UI or is it just an issue for the desktop apps/Electron?

[2018-01-28 03:18] hlissner commented on #351
I'm closing this due to inactivity. Feel free to reopen it if you still have the issue.

[2018-01-28 03:18] #351 closed

[2018-01-28 03:41] hlissner commented on #375
I've been unable to reproduce this on `develop`. It appears you are on `f1ebda6c`, which is a couple commits behind `master`. Was that intentional? Also, could you see if you can reproduce this on `develop`?

[2018-01-28 04:10] smythp commented on #373
Yes, unfortunately.. I could probably pull something together for myself using Emacs and the Discord API, but in practice it probably wouldn't help anyone else and I only have so much patience for weekend hacks for random proprietary chat applications that pop up every 18 months. Got Slack working for myself in Emacs last year and from my perspective (not caring about green and purple color scheme

[2018-01-28 08:46] hlissner commented on #347
@rphillips Just an fyi: the find-file popup is back in.

[2018-01-28 09:55] amosbird commented on #375
Hmm, I tried 3578d433c2a2caaac60ebea86d8b9efadffd25a3 and still be able to reproduce this. Also the new `popup` module doesn't play well with ivy-occur buffer. It enters in emacs-mode and is positioned at the bottom of the frame with small size.

[2018-01-28 12:31] nightire opened #376 "Cannot toggle line number styles if initially disable it"
I put this setting in private module to not display line number after emacs startup:

[code]

it works as I expected, however `SPC t l` cannot toggle line number afterwards.

I think `doom-line-numbers-style` implies ppl to *change* the style of line number, but it actually *turn off* the line number completely.

It doesn't make sense to me, or I misused this variable completely?

Another related

[2018-01-28 15:12] jmorag opened #377 "Unrecognized keyword: hook"
Recently, I've been completely unable to even start emacs. On startup, I receive the following:
`error "use-package: Unrecognized keyword: :hook"`

I'm using emacs 25.3.1 on macOS 10.12.6 (Sierra). Can't imagine that this is a problem with doom, but rather something in use-package, but searching there hasn't really turned up very much.

Thanks for your monumental work on this project. I have enjoy

[2018-01-28 15:38] triklsbg opened #378 "Installing doom in an own HOME should be mentioned in the readme and supported"
Having a bash alias like:
``
alias doom='HOME=/home/tom1/EMACS/doom emacs &'
``
is one way for me which works so far.

DOOM Doctor
Running Emacs v26.0.91, commit 5dacbb7cb1c6ac246a9ccd15e6c4290def67757c

shell: /bin/bash
Compiled with:
  XPM JPEG TIFF GIF PNG RSVG SOUND GPM DBUS GSETTINGS NOTIFY ACL GNUTLS
  LIBXML2 FREETYPE M17N_FLT LIBOTF XFT ZLIB TOOLKIT_SCROLL_BARS GTK3 X11
  THREADS LIBSYSTEM

[2018-01-28 15:52] triklsbg opened #379 "In case of an own HOME installation the additional fonts are not found? by fc-cache"
message buffer shows:
``
Successfully installed ‘all-the-icons’ fonts to ‘/home/tom1/EMACS/doom/.local/share/fonts/’!
``
the running instance of doom finds them aka displays them but i'm not sure if this is a in general useful location for the fonts. I copied them to REALHOME/.local/share/fonts and did an <fc-cache -v -f>.
Results in:

tom1 ~ $ fc-list | grep octi --->
/home/tom1/.local/share/font

[2018-01-28 18:08] triklsbg opened #380 "doom/info creates a file with the headline "Doom doctor""
DOOM Doctor
Running Emacs v26.0.91, commit 5dacbb7cb1c6ac246a9ccd15e6c4290def67757c

shell: /bin/bash
Compiled with:
  XPM JPEG TIFF GIF PNG RSVG SOUND GPM DBUS GSETTINGS NOTIFY ACL GNUTLS
  LIBXML2 FREETYPE M17N_FLT LIBOTF XFT ZLIB TOOLKIT_SCROLL_BARS GTK3 X11
  THREADS LIBSYSTEMD LCMS2
uname -a:
  Linux achse 4.14.15-1-ARCH #1 SMP PREEMPT Tue Jan 23 21:49:25 UTC 2018
  x86_64 GNU/Linux

Attempt

[2018-01-28 19:15] averrin commented on #376
And maybe its other bug, but if i set it to `'relative` its completely off. Then when i press `spc t l` emacs said "no line numbers plugin found"…

[2018-01-28 20:57] hlissner commented on #377
By chance, did you update Doom without updating your packages (with `make update`)? `:hook` is a _somewhat_ recent addition to use-package.

If even `make update` errors out, you'll need to delete use-package manually:

[code]

Let me know if that helps.

[2018-01-28 21:05] hlissner commented on #379
Judging from #378, you've got a different $HOME. That's the issue here. `all-the-icons` determines where to install the fonts using this code (which is out of my control):

[code]

You could try setting `XDG_DATA_HOME`, in your shell or in emacs (eg. `(setenv "XDG_DATA_HOME" "/home/tom1/.local/share")`).

[2018-01-28 21:15] hlissner commented on #378
Why do you need Doom to have its own HOME?

If it's to isolate it from other Emacs configs, I suggest either:

+ `cd ~/EMACS/doom` and...
  + `make run` or
  + `emacs --eval '(setq user-emacs-directory default-directory)' -q -l init.el` (what `make run` does under the hood)

[2018-01-29 05:36] jcrono opened #381 "Autoload fails to create the +default/browse-* functions"
### Observed behavior

All the `+default/browse-` functions fails.

for example trying to execute `+default/browse-project` fails with:
`Autoloading failed to define function +default/browse-project`

However that also creates the function: `default/browse-project` (without the `+`) that works as expected.

### Expected behavior

I expect the `+` variants to work directly.

### Steps to reproduce

[2018-01-29 05:42] jcrono commented on #381
After trying for a few more minutes I found the issue:

on the `+default--def-browse-in!` marco definition in line 14 of the modules/private/autoload/default.el:

`(format "%s/browse-%s" prefix name)` should be `(format "+%s/browse-%s" prefix name)`

Found out by comparing to the next marco on the same file.

[2018-01-29 06:05] hlissner commented on #381
Good catch! I've pushed a fix to `develop`. I'll leave this open until it hits `master`. Thanks for letting me know!

[2018-01-29 08:59] hlissner commented on #373
@smythp I'm sorry to hear that. I wasn't aware the situation was that bad for Discord. I'm no stranger to web development, but I am to Electron and screen readers. I'm shocked to hear Discord hasn't factored in accessible design into their web client, at least.

However, I have chosen Discord. I do prefer irc, personally, as a weirdo that lives in the shell, but a Discord server is much easier to

[2018-01-29 13:59] rphillips commented on #347
thank you!

[2018-01-29 14:14] rphillips opened #384 "doom-dired-buffer-p failed to define function"
### Observed behavior

On develop [8deea285c5423fb05c8cb781e04eebc6cffbbd56], I am getting a doom-dired-buffer-p failed to define function when loading emacs. Performed the usual `make` + `make autoloads`, no joy.

[2018-01-29 15:49] smythp commented on #373
Yes, it's surprising that they can't invest the relatively small amount of
effort into making their web app accessible. The reality is, they don't
have to, or at least not yet. I can't blame you (too much) for choosing
Discord as it's ultimately their responsibility to make their platform
accessible. Thanks, looking forward to reading more about Doom in the
future.

On Mon, Jan 29, 2018 at 3:59 AM

[2018-01-29 17:48] #380 closed

[2018-01-29 17:49] #379 closed

[2018-01-29 17:50] triklsbg commented on #378
Thank you!

[2018-01-29 17:50] #378 closed

[2018-01-29 19:15] arumoy-shome commented on #174
Yes please, I really love the config but it takes some effort to get tinkering due to lack of documentation. This can be daunting for those who are not comfortable jumping into elisp code. May I suggest we start with `org`? 😄

[2018-01-29 20:47] tasmo commented on #376
Have exactly the same issue like @averrin.

The space for displaying line number is added but with the buffer's default background and no content.

[2018-01-29 21:01] rphillips commented on #384
make clean cleared this up.

[2018-01-29 21:01] #384 closed

[2018-01-29 22:45] hlissner commented on #352
I've put together what I hope will be a conclusive fix for this issue. Nested `doom!` calls should now be possible.

[code]

It should also recognize `:private hlissner`'s packages.el.

It is wise to always run `make` after changing Doom's source code. However, deleting `.local` shouldn't be necessary. Chances are your packages only need to be recompiled, which can be done with `make compile-elpa`

[2018-01-30 05:16] amoriello opened #385 "projectile-find-tag: No applicable method: xref-backend-identifier-completion-table, nil"
Here are some things you should try before filing a bug report:

### Observed behavior

CTRL-] used to find a tag now raises `No applicable method: xref-backend-identifier-completion-table, nil`

I see CTRL-] in bound to projectille-find-tag

### Expected behavior

I would have expected the same behavior as what we have with find-tag

### Steps to reproduce

1. Create a tag file (ctags -e)
2. star

[2018-01-30 06:19] hlissner commented on #376
This was a bug. The fix is now in `develop`. `doom/toggle-line-numbers` now:

+ Cycles through the three styles of line numbers (normal, relative and disabled), starting from `doom-line-numbers-style`'s initial value, and
+ Properly enables the line numbers if `doom-line-numbers-style` is nil.

Let me know if it still gives you trouble!

[2018-01-30 07:56] dsdshcym commented on #376
There is a new style for `display-line-numbers-mode`: `visual`, which is basically like `relative` but counts screen lines instead of buffer lines.

[2018-01-30 08:33] hlissner commented on #376
Just added support for `visual`, but with a separate variable: `doom-line-numbers-visual-style`. Set this to non-nil, and `display-line-numbers` will use `visual` behind the scenes.

On another note, how new is `visual`? Was that introduced in 26 or 27?

[2018-01-30 08:41] dsdshcym commented on #376
It was introduced in 26, basically at the same time as `display-line-numbers`

[2018-01-30 08:54] hlissner commented on #375
I've fixed the popup and emacs-mode issues. However, I'm still investigating the original issue; I've yet to reproduce it on any of my test machines, Arch or MacOS, across 25.3, 26 or 27. I'll keep trying.

[2018-01-30 08:57] hlissner commented on #361
Sorry, I forgot to follow up! I posted the fix the dashboard issue a while ago, so I'll consider this issue resolved. I'll keep it open it is merged into `master`.

[2018-01-30 08:58] hlissner commented on #365
Since this isn't a Doom issue, I'll close this issue, but feel free to follow up on the discussion here. I'm open to any suggestions to make expand-region more predictable.

[2018-01-30 08:58] #365 closed

[2018-01-30 09:04] hlissner commented on #337
With the introduction of `vslot`, I think I can consider this issue resolved. It needs some good documentation, probably with visual aids.

In any case, I _might_ revisit this later to make vslot a little more robust, but it should do for now.

[2018-01-30 09:05] hlissner commented on #329
I'll consider this issue resolved and close it. Feel free to follow up here if you have more questions about keybinds!

[2018-01-30 09:05] #329 closed

[2018-01-30 09:07] hlissner commented on #324
With the new popup system, as well as `window-divider-default-bottom-width` now set to `1`, and a dark vertical-border between windows (in my doom-themes package) to improve contrast, I'll consider this issue resolved.

[2018-01-30 12:08] tasmo commented on #376
After pulling the develop branch (Emacs 25.3) and executing `make` I get the following error message:

[code]

In my `private/ui/init.el` I have:

[code]

[2018-01-30 14:10] aminb commented on #361
No worries, and thanks!

[2018-01-30 20:42] hlissner commented on #376
Ah, my mistake, forgot to update nlinum-relative's autoloads. It is now fixed.

[2018-01-30 23:20] deybhayden commented on #119
Is this a thing that possibly crept back into `develop`? I'm running into it right now.

[2018-01-31 03:08] hlissner commented on #206
Is this still an issue? It's been a while, 2.1 is about to go up and I've been unable to reproduce this.

[2018-01-31 07:20] hlissner commented on #119
@deybhayden Yes it did; I just fixed it. Let me know if it hasn't resolved your issue.

[2018-01-31 08:26] driftcrow opened #388 "counsel-projectile-switch-project works error"
projectile-switch-project works error in develop branch.

---

### Observed behavior

1. just can switch project at first time run it ,then always echo "A workspace named 'xxx' already exists"
2. first time  switch project can complete, but it find project file 2 times. and error message with  "+workspace-message: Symbol’s value as variable is void: new-name
"

### Expected behavior

switch projec

[2018-01-31 09:27] averrin opened #389 "Something lock git repository"
### Observed behavior

After some dir with git repo was opened in emacs, every git command said that index.lock file exist and must be removed before continue.

### Expected behavior

nothing

### Steps to reproduce

1. emacs .
2. git commit

### System information

<details>
<summary>Click to expand</summary>

[code]
</details>

[2018-01-31 09:57] hlissner commented on #388
Found and fixed in `develop`. I'll leave this open until it hits `master`. Let me know if it doesn't resolve your issue.

[2018-01-31 10:03] ocharles commented on #389
I've seen this quite a few times and it's baffled me. I wonder if it's git-gutter interfering?

[2018-01-31 10:09] hlissner commented on #389
`dired-k` is a prime suspect, because it uses `kill-process` to abruptly kill git processes, rather than `interrupt-process`. I just pushed a fix advising dired-k to use the latter. Let me know if that resolves your issue.

[2018-01-31 12:48] driftcrow commented on #388
Nice job, thanks for your hard work. It's unbelievable rapid. It's works fine now .

[2018-01-31 14:57] arumoy-shome opened #390 "`M-RET` in org ordered list does not increment number"
### Observed behavior
Given an ordered list on org:

**scenario 1**
[code]
(** represents my cursor position)

when I press `M-RET`, I see this:

[code]

**scenario 2**

[code]

after `M-RET`, I see this:

[code]

### Expected behavior

I expect the numbers to automatically update:

[code]

after `M-RET`, I see this:

[code]

### Steps to reproduce

*check observed behaviour above*

### System inf

[2018-01-31 15:30] averrin commented on #389
Cannot reproduce after update. Thanks.

[2018-01-31 15:30] #389 closed

[2018-01-31 23:06] xarthurx opened #391 "Add latexmk support"
Just a suggestion.
latexMK is a perl script that handles many different tex backends as well as one-press solution to compile latex file.
Almost everyone's tool.

It'll be good to include the package into the distribution with the setups.

[2018-02-01 07:22] driftcrow opened #393 "Some key bindings not effect in popup windows."
### Observed behavior

Some key bindings not effect in popup windows.

### Expected behavior

I want map! macro can define key binding for all window type stability.

### Steps to reproduce

1. open a buffer in popup window(M-x doom/open-scratch-window, "gd"...)
2. switch to that windows:scrach/message/help... (someone switch automatic)
3. then some key binding not effect. typical is I can't switc

[2018-02-01 08:19] dsdshcym opened #394 "Popup windows cannot be ignored if it can be matched by fallback rule"
### Observed behavior

Ignored popup windows (like magit) are still affected by the fallback rule introduced
(magit status popup appears at bottom and it's quite small)

Set `+popup-enable-fallback-rules` to nil can fix this issue, but the popup
behavior was correct before, So I think this issue was caused by
https://github.com/hlissner/doom-emacs/commit/1ab7301a1d28113a92859bd4523d83e86bf78af4

#

[2018-02-01 08:30] dsdshcym commented on #394
Comment out this
[line](https://github.com/hlissner/doom-emacs/commit/1ab7301a1d28113a92859bd4523d83e86bf78af4#diff-dc077cee5790c6cc0b44cc424b0cd63eR180)
can also fix this issue, but I'm not sure what this line is doing.

[2018-02-01 08:49] xarthurx commented on #391
@fuxialexander
There's a commented (auctex-latexmk) line in the latex configuration. but adding `(latex +latexmk)` does not work on `master`.

The `develop` branch does not work on my machine. The `SPC` leader key cannot call the popup menu.

I'll wait for the `master` I guess.
Do you know when there'll be a new release?
Thx.

[2018-02-01 09:12] xarthurx opened #395 ""def-package!" in private config file."
"def-package! is a thin wrapper around use-package. You can safely replace this with use-package if you want to copy a def-package! block to your own (non-Doom) config."

not sure what this means.

Can I not use `def-package!` but `use-package` in my own config?
Or I can use either?

It seems `def-package!` does not work in my personal ones...

[2018-02-01 09:18] fuxialexander commented on #391
@xarthurx instead of waiting you can always copy and paste the module to the private directory,
you can check my [config](https://github.com/fuxialexander/doom-emacs-private-xfu/tree/master/latex)
after do that, just add `(latex +latexmk)` *below* the `:private` block in `init.el`

[2018-02-01 09:19] hlissner commented on #391
@xarthurx The 2.1 release will be this weekend. I'll look into the SPC issue.

[2018-02-01 09:23] hlissner commented on #395
Use `def-package!`.

What that line meant is that, if you don't want to use Doom, but want to copy some of my config into your own (presumably, a non-doom) config, you can safely switch def-package! with use-package. If you are using Doom, that doesn't apply to you.

I apologize for the unclear documentation. I am reworking the documentation for the 2.1 release this weekend.

[2018-02-01 09:24] fuxialexander commented on #395
@xarthurx some supplementary things:
`def-package!` should work fine in private module, but if one `def-package!` have been defined in other modules, you may want to use `after!` or `def-package-hook!` instead. `(use-package)` should have only one instance in the whole config for one package.

[2018-02-01 09:25] hlissner commented on #390
This is certainly a bug. I'll look into it within the next day or two.

[2018-02-01 09:25] xarthurx commented on #391
I change back to `master` and back to `develop` again, and everything works
now....
Not sure exactly the reason.

On 1 February 2018 at 10:19, Henrik Lissner <notifications@github.com>
wrote:

--
MA Zhao

*"SAVE PAPER - PLEASE THINK BEFORE YOU PRINT!"*

[2018-02-01 09:27] xarthurx commented on #395
Than you for the reply.

How can I find out if it is also defined elsewhere? Inner functions to do
this?
I'm trying to use the `pdf-tools` for latex.

Sorry for bother again. You can close the issue.

On 1 February 2018 at 10:24, fuxialexander <notifications@github.com> wrote:

--
MA Zhao

*"SAVE PAPER - PLEASE THINK BEFORE YOU PRINT!"*

[2018-02-01 09:29] xarthurx commented on #395
Please don't apologise. The `doom-emacs` is a truly great work! Especially
all by your own!

We need more people to contribute. Will see what I can do though I'm not an
expert.

On 1 February 2018 at 10:23, Henrik Lissner <notifications@github.com>
wrote:

--
MA Zhao

*"SAVE PAPER - PLEASE THINK BEFORE YOU PRINT!"*

[2018-02-01 09:44] fuxialexander commented on #395
@xarthurx usually I use `counesl-ag / counsel-rg` to search the whole `.emacs.d`

[2018-02-01 10:09] UndeadKernel commented on #395
Hi @hlissner. I don't know if you've thought about delagating some tasks. I see that the issues keep growing (which is a good thing, more people, more eyes). As I submitted the current version of the LaTeX module, I can take care of LaTeX related issues, for example.

@xarthurx I didn't know about pdf-tools. This looks awesome. I want to integrate it into DOOM. Could you share with me your pdf-too

[2018-02-01 10:20] UndeadKernel opened #396 "Back to indentation and beginning of line woes while in visual-line-mode"
### Observed behavior

When in visual-line-mode, the function `doom/backward-to-bol-or-indent` does not properly move between the indentation and beginning of line.

### Expected behavior

When in visual-line-mode, the function `doom/backward-to-bol-or-indent` should move the cursor between the indentation point and the beginning of line.

### Cause

The function is currently defined as follows:
[

[2018-02-01 12:15] xarthurx commented on #395
@UndeadKernel

So it is something like:

[code]

So that I can view pdf directly within Emacs, automatically invoked by latexmk. It also enbles auto-revert and two-direction search.

the package has more functions and rely on some outside package with you need to install in your system.

But the aim is make Emacs more like a LaTeX ide that ease your writing/reviewing process.

[2018-02-01 12:34] xarthurx commented on #395
@UndeadKernel

This three series blog may explain better:

http://pragmaticemacs.com/emacs/view-and-annotate-pdfs-in-emacs-with-pdf-tools/
http://pragmaticemacs.com/emacs/more-pdf-tools-tweaks/
http://pragmaticemacs.com/emacs/even-more-pdf-tools-tweaks/

[2018-02-01 12:58] UndeadKernel commented on #395
@hlissner A question for you: How do you envision external program dependencies with DOOM V2.x? In DOOM V1.x, each module that needed external programs had an associated script to install those dependencies. How are you dealing with this with V2.x? If I'm not mistaken, the user is responsible for reading the README of each module they use and manually install the external dependencies. Correct?

[2018-02-01 13:12] xarthurx commented on #306
@hlissner

`  :init (load "pdf-tools-autoloads" nil t)`

This line, if I'm not wrong, seems not work.
I stuck here for a while and by `eval-region` of the config part, I'm sure the problem is not there.
So the reason might be in this line.

Sorry, I'm not very familar about the loading process.

[2018-02-01 13:34] driftcrow opened #397 "Need doom/toggle-maximized command"
---

### Observed behavior

toggle-frame-maximized function not work on OSX.

### Expected behavior

doom/toggle-fullscree can work on OSX, but sometimes frame-maximized is good
choice.

[2018-02-01 13:56] xarthurx commented on #397
I also have the issue, under windows sub linux system.

[2018-02-01 14:11] xarthurx commented on #395
@hlissner Do you want the pdf-tools to be part of the doom-emacs?

I think I can add that one. Similar to `+latexmk` process.

[2018-02-01 14:45] xarthurx commented on #391
@hlissner
I relook at the issue.
I confirm that if I move to the develop branch and run `make`. the `SPC` issue still exists.

[2018-02-01 15:28] apierz commented on #327
I'm getting the same error:

Importing package-keyring.gpg...
Importing package-keyring.gpg...done
Contacting host: elpa.gnu.org:443
Contacting host: elpa.gnu.org:443
Contacting host: melpa.org:443
Package refresh done
Installing ox-reveal
  FATAL ERROR: (error) Package ‘org-20150330’ is unavailable
Installing centered-window-mode
  FATAL ERROR: (error) Package ‘centered-window-mode-’ is unavailab

[2018-02-01 15:34] xarthurx commented on #391
@hlissner So I dug a little on the issue.
It seems the +bindings.el is not correctly loaded.
I manually `eval-buffer` of the +bindings.el file, and the leader key works again. But need to do it everytime I restart emacs.

[2018-02-01 15:38] fuxialexander commented on #391
@xarthurx https://github.com/hlissner/doom-emacs/commit/26d1dd7991344e02b70e151d620a881fa7a64640

[2018-02-01 15:40] xarthurx commented on #391
@fuxialexander
Got it!
I'll close this issue now since everything is solved.

[2018-02-01 15:40] #391 closed

[2018-02-01 21:12] hlissner commented on #327
These issues have been fixed in `develop`. The 2.1 release is this weekend, so they will be in `master` soon.

[2018-02-01 22:15] hlissner commented on #397
@xarthurx @driftcrow What version of Emacs are you two running?

`toggle-frame-{fullscreen,maximized}` appear to work correctly on MacOS on Emacs 25.3 and 26 (using the emacs-plus formula via homebrew), and on 27 on linux. In fact, I was considering removing `doom/toggle-fullscreen` as is now redundant (it used to be necessary back in the Emacs 24 days on MacOS because I hated the native fullscree

[2018-02-01 22:26] xarthurx commented on #397
@hlissner
Emacs 25.3 on Windows WSL (sub linux system, so actually ubuntu)
it works, but not properly.
So on my computer, it changes the frame size to the resolution, but not place it to take the whole screen. So a part of the frame is out of the screen. (I think it resize from the left top corner.)

Also, `fullscreen` and `maximized` behaves the same.

I moved to doom-emacs from spacemacs, and th

[2018-02-01 22:35] hlissner commented on #397
@xarthurx What about `fullboth`?

[2018-02-01 22:39] xarthurx commented on #397
@hlissner Not sure if I understand.
Didn't find that command...

[2018-02-01 22:40] hlissner commented on #397
Sorry. What happens when you try `M-; (set-frame-parameter (selected-frame) 'fullscreen 'fullboth)`?

`M-x eval-expression RET (set-frame-parameter (selected-frame) 'fullscreen 'fullboth)` is the full comment in case your `M-;` isn't bound to eval-expression.

[2018-02-01 22:46] xarthurx commented on #397
Same effect.

On 1 February 2018 at 23:40, Henrik Lissner <notifications@github.com>
wrote:

--
MA Zhao

*"SAVE PAPER - PLEASE THINK BEFORE YOU PRINT!"*

[2018-02-01 23:41] fuxialexander commented on #397
any screenshot?
anyway I won't expect that to work even properly... I think it's more of a problem of how the X server communicates with the windows subsystem and eventually with Windows itself.

[2018-02-02 01:16] hlissner commented on #393
The dashboard is now back in normal mode, by default, which should fix many of these keys. A better solution will be needed later (because these keys may still break for non-evil users), but it should fix your issue. Let me know if it didn't!

[2018-02-02 01:17] hlissner commented on #317
@andyafter Sorry for the late response. This issue should be fixed now. Let me know if that isn't the case.

[2018-02-02 01:18] hlissner commented on #396
I've rewritten both `doom/backward-to-bol-or-indent` and `doom/forward-to-last-non-comment-or-eol` to improve visual-line-mode support. Let me know if it doesn't work for you.

[2018-02-02 01:22] hlissner commented on #395
@xarthurx Yes, I'd like pdf-tools in Doom. I'll gladly accept a PR for it. I was going to do it myself by 2.2 otherwise.

@UndeadKernel You are correct. There are simply so many possible ways for someone to set up their work environment (e.g. the python conda/pyenv/virtualenv situation), so I'd rather leave it to the user.

[2018-02-02 01:27] hlissner commented on #395
@UndeadKernel I'd greatly appreciate if you could look after lang/latex. As for delegation in general, I'd gratefully accept PRs. Check out https://github.com/hlissner/doom-emacs/projects; you can consider them the Doom TODO lists. Anything that isn't in a "doing" column is fair game. Feel free to ask me on Discord if any of them interest you.

That said, I'm rewriting the documentation (including

[2018-02-02 01:57] arumoy-shome commented on #390
Perhaps I can help? I am looking for ways to contribute back and this will be a good opportunity to learn some elisp. If you can give me some pointers on how to get started, I will be more than happy to dig into it.

[2018-02-02 02:52] yuanl opened #398 "Failed to download ‘gnu’ archive behind proxy"
### Observed behavior
I do have a working proxy setup for other program(e.g. curl, browser, python). But doom-emacs failed to install.
`INSECURE=1 make install` wouldn't help.
<details>
<summary>stdout: click to expand</summary>

[code]
</details>

### Steps to reproduce

1. export https_proxy=http://localhost:3128
1. git clone https://github.com/hlissner/doom-emacs ~/.emacs.d
1. cd ~/.emacs.d
1.

[2018-02-02 04:04] hlissner commented on #394
Have you byte-compiled your config?

[2018-02-02 04:10] dsdshcym commented on #394
No, I didn't byte-compile `core`.

And this issue is still reproducible after `make compile`

[2018-02-02 04:20] hlissner commented on #394
I've changed the strategy for toggling those rules, and replaced the `+popup-enable-*-rules` variables with the `+all` and `+defaults` module flags. Update your `doom!` block and let me know if that fixes your problem:

[code]

[2018-02-02 04:21] dsdshcym commented on #394
I got the value of my `+popup--display-buffer-alist` before/after that commit:
<details>
<summary>before (which is correct because rules for magit appear before the default rule):</summary>

[code]

</details>

<details>
<summary>after (which will have this issue because default rule appears twice
and one of them appears before magit rules)</summary>

[code]

</details>

[2018-02-02 04:22] hlissner commented on #394
Yeah, I realized that the defaults were being applied too late. It should be fixed in the latest commit.

[2018-02-02 04:24] dsdshcym commented on #394
And e0fd1b9 fixes this problem, thanks a lot for the quick updates!

[2018-02-02 05:09] driftcrow commented on #397
my doom/info
[code]

toggle-frame-fullscreen works fine.

toggle-frame-maximized/M-; (set-frame-parameter (selected-frame) 'fullscreen 'maximized) not work .

[2018-02-02 06:22] yuanl commented on #398
The install goes well if I forward tcp traffic to a local transparent proxy.
It can't go through the https_proxy for some reason.

[2018-02-02 07:45] hlissner commented on #390
Alright, just pushed a fix. Let me know if it doesn't resolve your issue!

Thanks! I appreciate the offer. I (try to) post my TODOs for Doom in https://github.com/hlissner/doom-emacs/projects -- anything in the "approved" columns there are fair game.

If you haven't already, come join us on Discord, if you'd like to bounce ideas off me.

There's also a big release coming up this weekend; the docum

[2018-02-02 08:26] driftcrow opened #399 "make-frame fonts stranger"
### Observed behavior

when setq doom-font value, after M-x make-frame the new frame font looks stranger  , describe-face show the font is
`
-PfEd-Purisa-bold-normal-normal-*-12-*-*-*-*-0-iso10646-1 (#x47)
`
but first frame font display normal. when reload-theme or toggle-big-font-mode operator ,frame font become normal.

### Expected behavior

create new frame font display like the first frame.

[2018-02-02 08:34] driftcrow commented on #398
I use proxychains ,It work fine.

[2018-02-02 08:40] driftcrow commented on #393
dashboard work fine, but the key issue is when focus in windows with popup property especially *doom:scratch*/*message*... then switch workspace key binding invalid, and can't split window in frame.

[2018-02-02 08:53] driftcrow commented on #393
yeah, It works fine,thx

[2018-02-02 10:27] xarthurx commented on #395
@hlissner
glad to. Will do around this weekends.

[2018-02-02 16:27] arumoy-shome commented on #390
@hlissner I can confirm that this bug is fixed however in the process of testing I noticed that on develop branch `SPC` is not recognized as leader key anymore! (when I press `SPC` the cursor just moves forward)

[2018-02-02 19:34] hlissner commented on #390
@arumoy-shome you've already gotten your answer on discord, but I'll include it here for posterity:

As of https://github.com/hlissner/doom-emacs/commit/26d1dd7991344e02b70e151d620a881fa7a64640, the keybindings, evil commands and snippets library provided by `private/default` are no longer enabled by default. You'll need to add the `+bindings` `+snippets` and `+evil-commands` module flags to its e

[2018-02-02 19:36] ocharles commented on #390
Thanks Henrik, will that be in the documentation for the new release?

On Fri, Feb 2, 2018 at 7:34 PM Henrik Lissner <notifications@github.com>
wrote:

[2018-02-02 23:37] xarthurx commented on #395
@hlissner
which module do you want to put to, since it is not only for latex.
under apps? or tools? or features?

[2018-02-03 00:56] hlissner commented on #397
@driftcrow If you set `(setq frame-resize-pixelwise t)`, does that improve the behavior of `toggle-frame-maximized`?

[2018-02-03 01:01] hlissner commented on #385
Add this to your private module (config.el):

[code]

And let me know if that fixes your issue.

[2018-02-03 01:29] hlissner commented on #398
Do the answers in https://stackoverflow.com/questions/1595418/emacs-behind-http-proxy#1595673 help you? I've never used Emacs behind a proxy, so I'm afraid I know little about it, but the link above looked promising.

[2018-02-03 01:49] hlissner commented on #399
As of https://github.com/hlissner/doom-emacs/commit/e71f28601a03eeb4510dc4f7c88095dcabde8944, font intiialization should be more consistent across new frames. Let me know if that isn't the case!

[2018-02-03 08:08] driftcrow commented on #397
@hlissner still have no effect

[2018-02-03 12:23] xarthurx opened #400 "*ERROR*: Undefined color: "unspecified-bg""
Just pulled from the develop branch and `make` in the .emacs.d folder.
Then starting emacs will get this error.

[2018-02-03 13:24] driftcrow commented on #399
@hlissner If I setq doom-font only ,make-frame font be normal, but error message with ::
[code]
emacs can't exit

and if I setq doom-variable-pitch-font  like you. then make-frame cause emacs crash.

my doom/info:
[code]

[code]

[2018-02-03 17:19] amoriello commented on #385
Yup, this fixes the issue. Thanks!

[2018-02-03 17:19] #385 closed

[2018-02-03 21:12] hlissner commented on #397
I'm afraid this doesn't seem like a Doom or Elisp issue. It's either an internal Emacs issue or one with the X server on the windows subsystem. I can't reproduce it on MacOS 10.11 or Linux. Perhaps it's a High Sierra issue? I can only test on El Capitan.

I had a look at [spacemacs' fullscreen implementation](https://github.com/syl20bnr/spacemacs/blob/bd7ef98e4c35fd87538dd2a81356cc83f5fd02f3/layer

[2018-02-03 21:47] xarthurx opened #401 "evil-next-line or evil-next-visual-line"
The moving bahivour at present for `"j"` is assigned to `evil-next-line`.
Does it make sense to assign it to `evil-next-visual-line` (which is now assigned to `g j`.

For programming, the switch should not make much difference as most of lines are not long.
But for text editing, it feels the `evil-next-visual-line` is more convenient and assign it to `j` would make things easier.

Just a suggestio

[2018-02-04 03:42] hlissner commented on #401
This was actually a bug, because `evil-respect-visual-line-mode` wasn't set early enough. It is now fixed, and thus `j` and `k` should be remapped to the visual line functions when visual-line-mode is active.

[2018-02-04 03:43] hlissner commented on #400
This should be fixed as of https://github.com/hlissner/doom-emacs/commit/76a1e8a279b7e1cf98e321b6c06a2bf415393a7a. Let me know if that isn't the case.

[2018-02-04 03:58] hlissner commented on #399
Just pushed two possible fixes for this. Give it a try and let me know how it fares.

[2018-02-04 04:53] driftcrow commented on #399
@hlissner  make-frame works fine now if I setq doom-font. but when I setq
doom-variable-pitch-font , make-frame still cause emacs crash.

[2018-02-04 04:58] driftcrow commented on #397
yeah , something is strange, I had  look at spacemacs' fullscreen implementation too, and  found nothing of  different.

[2018-02-04 07:10] hlissner commented on #399
Huh, have you tried different fonts for doom-variable-pitch-font? And are you sure the font you are using for `doom-variable-pitch-font` exists?

You can try `M-; (find-font (font-spec :family "..."))`  to see if Emacs can see the font.

[2018-02-04 09:08] driftcrow commented on #399
font is exist. M-; (find-font (font-spec :family "Fira\ Sans")) echo:
[code]

and even I  change doom-variable-pitch-font font family same with doom-font, emacs crash continue after make-frame.

[2018-02-04 19:30] xarthurx commented on #395
@hlissner
The files are ready for pdf-tools, which modules do you want me to put the `.el` files to?

[2018-02-04 20:13] ghost opened #402 "Shortcuts to major modes outside emacs"
Hey there,
I was wondering if there is a way to open major modes like elfeed or the rss-client in emacs without opening emacs first. For example, I'd like to bind elfeed to a specific key in i3wm so that I can open elfeed with one push of a button. Of course, this can only work effectively when emacs is started as a daemon.

Thank you and good luck with everything :)

[2018-02-04 20:45] #401 closed

[2018-02-04 20:46] #400 closed

[2018-02-04 20:56] hlissner commented on #402
I think it's possible. I've done something similar to org-capture and rofi on bspwm, invoked via [bin/org-capture](https://github.com/hlissner/doom-emacs/blob/develop/bin/org-capture).

It simply needs something to conditionally [open the frame](https://github.com/hlissner/doom-emacs/blob/develop/modules/lang/org/autoload/org-capture.el#L56) and [clean it up afterwards](https://github.com/hlissner

[2018-02-04 22:11] xarthurx opened #403 "browse-dotfiles missing?"
`SPC` `f` `D`

Return:
`command-execute: Wrong type argument: commandp, +default/browse-dotfiles`

seems the function was not implemented.

[2018-02-04 22:33] hlissner commented on #403
Whoops. You're right. I moved `+default/browse-dotfiles` and `+default/find-in-dotfiles` to my [private module](https://github.com/hlissner/doom-emacs-private/blob/master/autoload.el), since the location of our dotfiles is a largely personal thing. I've removed those keybinds from private/default.

[2018-02-04 22:43] hlissner commented on #395
@xarthurx Could you put them in `tools/pdf`, with all the `latex` specific stuff in a conditional block, if possible:

[code]

[2018-02-05 02:09] driftcrow opened #404 "version-control add +github feature"
### Observed behavior
+github for interaction github smoothly

### Expected behavior

I had try add magithub in my private module, but ecount some trouble.  I don't know why :

[code]

### System information

<details>
<summary>Click to expand</summary>

[code]

[code]

[2018-02-05 02:19] fuxialexander commented on #404
My config works fine for me on `develop`
[code]

[2018-02-05 02:47] driftcrow opened #406 "conside change private-repo to seperate directory"
### Observed behavior

private repo include private init.el and some private module, thou if I add private module I need link to .emacs.d/... manually. and if I want try anothers config ,then I shoud unlink all my private repo init.el and module dir. then  link others all assets.  when restore then repeate do again .it's  inconvenient.

### Expected behavior

 please conside seperate these private

[2018-02-05 02:56] driftcrow commented on #404
@fuxialexander
thanks for share, I had try your config [doom-emacs-private-xfu](https://github.com/fuxialexander/doom-emacs-private-xfu.git), but ecount the same problem:

break at create issue in magit states ,error message with:
run-hooks: Symbol’s function definition is void: magithub-completion-enable

[2018-02-05 03:12] fuxialexander commented on #404
@driftcrow I see. I started got that yesterday. I think it's an upstream change in `magithub`. Try the follwing:
[code]

[2018-02-05 03:36] driftcrow commented on #404
@fuxialexander
I think the reason is not about upstream changed maybe. I had try others emacs config like centau ,magithub runs normally on it.

[2018-02-05 03:39] fuxialexander commented on #404
It's doom-specific because doom defer the load of `package.el` and depend on `use-package` to load package `autoloads`. I believe `magithub` recently changed to use `autoloads` to load that `magithub-completion-enable` function.

[2018-02-05 03:51] driftcrow commented on #404
@fuxialexander you are right, I found that:
[code]
but in my config ,I use :demand flag then magithub will load automaticly In theory I think.why not work?

[2018-02-05 05:15] fuxialexander commented on #404
@driftcrow It seems to work for me. Where did you put it? I have that in my private `config.el`

[2018-02-05 06:36] yuanl commented on #398
Thanks for the suggestion.
Answer in the link above do not help. I feel like it is our cooperate proxy that causing this trouble. Emacs did picking up the proxy setting from environment.

[2018-02-05 06:36] #398 closed

[2018-02-05 07:02] driftcrow commented on #404
@fuxialexander are you sure work fine?
I try [fuxialexander/doom-emacs-private-xfu](https://github.com/fuxialexander/doom-emacs-private-xfu.git) config(It's these  your config repo?) ,init.el file with content from README.md of the repo, but emacs startup with 4 errors:
[code]

[2018-02-05 08:52] fuxialexander commented on #404
The 4 error is irrelevant and is because that you're missing some component on your system (for a brief try you can safely disable my other private modules like `org` and `email`, and use the default `doom` rather than mine, which should get rid of the first 4 errors).

Why you didn't see magithub is because it's lazy-loaded by `:commands`. Try `M-x magithub-clone` then open the `magit-status` pan

[2018-02-05 08:56] fuxialexander commented on #404
Or use this
[code]
note the `magithub-feature-autoinject` part

[2018-02-05 12:27] xarthurx opened #407 "orgmode documentation"
Hi there,

I was trying to setup the org-mode system for some personal customization.
It seems the README.md is not quite finished?

For instance, didn't find where you set up `org-agenda-files` which is currently set to `~/work/org/notes.org`. If I want to add several files, or change the location, etc, how should I do it and not breaking the existing parts?

Hope this could be more completed for

[2018-02-05 12:43] fuxialexander commented on #407
Regarding the configuration, I think you can `add-to-list` or `push` to the `org-agenda-files` or simply `setq` again in the  private config?
You can try `counsel-rg` in the `.emacs.d` to find settings you targeted.

[2018-02-05 13:04] xarthurx commented on #407
Yes I tried, but not find any line set to `note.org`.

Originally I set my private ones to a dictionary, and `org-agenda` can
handle all the files in it.
Just want to be clear how doom-emacs is structured so that it won't break
other parts, such as capture, etc.

On 5 February 2018 at 13:43, fuxialexander <notifications@github.com> wrote:

--
MA Zhao

*"SAVE PAPER - PLEASE THINK BEFORE YOU PRINT!"

[2018-02-05 13:31] fuxialexander commented on #407
it's notes.org ....
![image](https://user-images.githubusercontent.com/8258908/35806851-e8065c3c-0abb-11e8-963d-7e8305bcfc16.png)

[2018-02-05 13:59] xarthurx commented on #407
My typo in the last comments.

OK, I digged a little bit and found that in the `agenda view`, you can
choose template (todo/notes). However, if just use `SPC` `X` to do
`org-capture`, it is not possible to select a template.

My general question, or suggestion, is to provide a relative useable doc
that explains the structure of the `org-mode` related settings for the
users to build their own thing

[2018-02-05 14:07] fuxialexander commented on #407
I totally agree with you on the documentation part.
(add I'm not the author / maintainer of doom-emacs but just another user :-P

I think hlissner is working on improving the documentation (for both DOOM and how to contribute). So let's just wait for a moment.

Regarding the `org-capture` issue: I myself use `(counsel-org-capture)`, and I'd recommend that instead of `(org-capture)` for choosing te

[2018-02-05 14:12] fuxialexander commented on #407
Regarding the structure of `org config` from I current shallow understanding, the current files are separated based on functionality:
Core functionality related UI & configs goes to the root `config.el`
Other functionality goes to files with corresponding name.
BTW, did you aware that DOOM has a discord discussion room https://discord.gg/bcZ6P3y ? I was thinking that this types of discussion might

[2018-02-05 16:55] xarthurx opened #408 "conflicts of C-u and C-d with org-mode"
I see that the `C-u` and `C-d` is binded to `evil-scroll-up COUNT` and  `evil-scroll-down COUNT`.

However, it conflicts with the prefix in `org-mode` that is needed in many ways.
Maybe change it to some other bindings, or excluded them in org-mode?

Actually, is it necessary to have the two `evil-scroll- ` command binded to a shortcuts?

[2018-02-05 17:39] fuxialexander commented on #408
Actually they are pretty fundamental vim scrolling command I think? I use them a lot.
I have the following remap in may `+bindings.el`
[code]

[2018-02-05 17:49] xarthurx commented on #408
Ha~

I used Emacs, so not sure about this.
Maybe just personal custom that I use `zz` and `M` a lot...

But it'll be still good for the official version to solve these conflicts...

On 5 February 2018 at 18:39, fuxialexander <notifications@github.com> wrote:

--
MA Zhao

*"SAVE PAPER - PLEASE THINK BEFORE YOU PRINT!"*

[2018-02-05 18:30] DonHansDampf opened #409 "Company-Mode not working in elixir/alchemist files"
Greetings,

running the most recent master branch company-mode seems not to work in alchemist-mode. Company-mode seems to be enabled. When i open a .ex-file for the first time, i get the error message `Error (use-package): elixir-mode/:config: Wrong type argument: consp, nil`.

Running macOS 10.12.16 with DOOM v2.0.9.